.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  height: 104px;

  .container {
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_sch {
      display: flex;
      align-items: center;
      height: 100%;
      width: 83%;

      .logo {
        width: 88px;
        height: 100%;
        
        margin-right: 48px;
        a{width: 100%;
        height: 100%;}
      }

      .search {
        width: calc(100% - 138px);

        .search_bar {
          height: 48px;
          display: flex;
          align-items: center;
          border: 2px solid transparent;
          border-radius: 48px;
          background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #005EAC 0%, #EB1C23 100%);
          background-origin: border-box;
          background-clip: content-box, border-box;

          button {
            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            background: url(../images/search_ico.png) no-repeat center;
            background-size: 100%;
            margin-left: 28px;
            cursor: pointer;
          }

          input {
            width: 90%;
            height: 48px;
            outline: 0;
            border: 1px solid transparent;
            ;
            background: transparent;
            padding: 0 14px;
            font-weight: 400;


          }
        }

      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 24px;
      a {
        font-weight: 500;
        color: #79818C;
        &.on,&:hover{
          text-decoration: underline;
          text-underline-position: under;
          color: #000;

        }
      }

      // button {
      //   margin-left: 8px;
      //   width: 6px;
      //   height: 12px;
      //   background: url(../images/arrow.png);
      // }
      &.sch_info{
        a{
          color: #C6CBD0;
        }
      }
    }
  }
  // 통합검색 헤더
  &.sch_hd{
    background: #212E40;
  }
}

footer {
  background: #181818;

  .container {
    height: 100%;
    justify-content: space-between;
padding: 42px 0;
    .ft_logo {

      img {
        opacity: 0.6;
      }

      ul {
        margin-left: 52px;

        li {
          font-weight: 300;
          font-size: 0.875em;
          padding-right: 16px;
          color: #fff;

          &:last-child {
            color: #AAB0B8;
            padding-left: 16px;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              width: 1px;
              height: 12px;
              background: #79818C;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 0.875em;
      text-transform: uppercase;
    }
  }
}

.top_btn {
  position: fixed;
  bottom: 130px;
  right: 150px;
  display: none;
  z-index: 999;

}

.flex {
  display: flex;
  align-items: center;
}

.flag24 {
  width: 30px;
  height: 22px;
  background: #79818C;

  &.sg {
    background: url(../images/sgp.svg)no-repeat center;

  }

  &.sk {
    background: url(../images/svk.svg)no-repeat center;
  }

  &.nl {
    background: url(../images/nld.svg)no-repeat center;
  }
// 동북아시아
// 일본
  &.jp {
    background: url(../images/NAA/jp.png)no-repeat center;
  }
  // 중국
  &.cn {
    background: url(../images/NAA/cn.png)no-repeat center;
  }
  // 홍콩
  &.hk {
    background: url(../images/NAA/hk.png)no-repeat center;
  }
  // 몽골
  &.mn {
    background: url(../images/NAA/mn.png)no-repeat center;
  }
  // 대만
  &.tw {
    background: url(../images/NAA/tw.png)no-repeat center;
  }

  // 동남아시아 서남아시아 태평양
  &.aa {
    background: url(../images/SAA/.png)no-repeat center;
  }
  &.af {
    background: url(../images/SAA/af.png)no-repeat center;
  }
  &.ASEAN {
    background: url(../images/SAA/ASEAN.png)no-repeat center;
  }
  &.au {
    background: url(../images/SAA/au.png)no-repeat center;
  }
  &.bd {
    background: url(../images/SAA/bd.png)no-repeat center;
  }
  &.bn {
    background: url(../images/SAA/bn.png)no-repeat center;
  }
  &.fj {
    background: url(../images/SAA/fj.png)no-repeat center;
  }
  &.id {
    background: url(../images/SAA/id.png)no-repeat center;
  }
  &.in {
    background: url(../images/SAA/in.png)no-repeat center;
  }
  &.kh {
    background: url(../images/SAA/kh.png)no-repeat center;
  }
  &.la {
    background: url(../images/SAA/la.png)no-repeat center;
  }
  &.lk {
    background: url(../images/SAA/lk.png)no-repeat center;
  }
  &.mm {
    background: url(../images/SAA/mm.png)no-repeat center;
  }
  &.my {
    background: url(../images/SAA/my.png)no-repeat center;
  }
  &.np {
    background: url(../images/SAA/np.png)no-repeat center;
  }
  &.nz {
    background: url(../images/SAA/nz.png)no-repeat center;
  }
  &.pg {
    background: url(../images/SAA/pg.png)no-repeat center;
  }
  &.ph {
    background: url(../images/SAA/ph.png)no-repeat center;
  }
  &.pk {
    background: url(../images/SAA/pk.png)no-repeat center;
  }
  &.sg {
    background: url(../images/SAA/sg.png)no-repeat center;
  }
  &.th {
    background: url(../images/SAA/th.png)no-repeat center;
  }
  &.tl {
    background: url(../images/SAA/tl.png)no-repeat center;
  }
  &.vn {
    background: url(../images/SAA/vn.png)no-repeat center;
  }

  // 북미
  &.ca {
    background: url(../images/NA/vn.png)no-repeat center;
  }
  &.un {
    background: url(../images/NA/un.png)no-repeat center;
  }
  &.us {
    background: url(../images/SAA/us.png)no-repeat center;
  }

  // 사하라 이남 아프리카
  // 앙골라
  &.ao {
    background: url(../images/SSA/ao.png)no-repeat center;
  }
  // 콩고민주공화국
  &.cd {
    background: url(../images/SSA/cd.png)no-repeat center;
  }
  // 코트디부아르
  &.ci {
    background: url(../images/SSA/ci.png)no-repeat center;
  }
  // 카메룬
  &.cm {
    background: url(../images/SSA/cm.png)no-repeat center;
  }
  // 에티오피아
  &.et {
    background: url(../images/SSA/et.png)no-repeat center;
  }
  // 가봉
  &.ga {
    background: url(../images/SSA/ao.png)no-repeat center;
  }
  // 가나
  &.gh {
    background: url(../images/SSA/gh.png)no-repeat center;
  }
  // 적도기니
  &.gq {
    background: url(../images/SSA/gq.png)no-repeat center;
  }
// 케냐
  &.ke {
    background: url(../images/SSA/ke.png)no-repeat center;
  }
  // 마다가스카르
  &.mg {
    background: url(../images/SSA/mg.png)no-repeat center;
  }
  // 모잠비크
  &.mz {
    background: url(../images/SSA/mz.png)no-repeat center;
  }
  // 나이지리아
  &.ng {
    background: url(../images/SSA/ng.png)no-repeat center;
  }
  // 르완다
  &.rw {
    background: url(../images/SSA/rw.png)no-repeat center;
  }
  // 수단
  &.sd {
    background: url(../images/SSA/sd.png)no-repeat center;
  }
  // 세네갈
  &.sn {
    background: url(../images/SSA/sn.png)no-repeat center;
  }
  //탄자니아
  &.tz {
    background: url(../images/SSA/tz.png)no-repeat center;
  }
  // 우간다
  &.ug {
    background: url(../images/SSA/ug.png)no-repeat center;
  }
  // 남아프리카공화국
  &.za {
    background: url(../images/SSA/za.png)no-repeat center;
  }
  // 짐바브웨
  &.zw {
    background: url(../images/SSA/zw.png)no-repeat center;
  }
}

.option {
  .flag24 {
    width: 30px;
    height: 22px;
    background: #79818C;

    &.sgp {
      background: url(../images/sgp.svg)no-repeat center;
      background-size: 100%;

    }

    &.svk {
      background: url(../images/svk.svg)no-repeat center;
      background-size: 100%;
    }

    &.nld {
      background: url(../images/nld.svg)no-repeat center;
      background-size: 100%;
    }
// 동북아
    &.jp {
      background: url(../images/NAA/jp.png)no-repeat center;
      background-size: 100%;
    }
    &.cn {
      background: url(../images/NAA/cn.png)no-repeat center;
      background-size: 100%;
    }
    &.hk {
      background: url(../images/NAA/hk.png)no-repeat center;
      background-size: 100%;
    }
    &.mn {
      background: url(../images/NAA/mn.png)no-repeat center;
      background-size: 100%;
    }
    &.tw {
      background: url(../images/NAA/tw.png)no-repeat center;
      background-size: 100%;
    }
    // 사하라 이남 아프리카
  // 앙골라
  &.ao {
    background: url(../images/SSA/ao.png)no-repeat center;
    background-size: 100%;
  }
  // 콩고민주공화국
  &.cd {
    background: url(../images/SSA/cd.png)no-repeat center;
    background-size: 100%;
  }
  // 코트디부아르
  &.ci {
    background: url(../images/SSA/ci.png)no-repeat center;
    background-size: 100%;
  }
  // 카메룬
  &.cm {
    background: url(../images/SSA/cm.png)no-repeat center;
    background-size: 100%;
  }
  // 에티오피아
  &.et {
    background: url(../images/SSA/et.png)no-repeat center;
    background-size: 100%;
  }
  // 가봉
  &.ga {
    background: url(../images/SSA/ao.png)no-repeat center;
    background-size: 100%;
  }
  // 가나
  &.gh {
    background: url(../images/SSA/gh.png)no-repeat center;
    background-size: 100%;
  }
  // 적도기니
  &.gq {
    background: url(../images/SSA/gq.png)no-repeat center;
    background-size: 100%;
  }
// 케냐
  &.ke {
    background: url(../images/SSA/ke.png)no-repeat center;
    background-size: 100%;
  }
  // 마다가스카르
  &.mg {
    background: url(../images/SSA/mg.png)no-repeat center;
    background-size: 100%;
  }
  // 모잠비크
  &.mz {
    background: url(../images/SSA/mz.png)no-repeat center;
    background-size: 100%;
  }
  // 나이지리아
  &.ng {
    background: url(../images/SSA/ng.png)no-repeat center;
    background-size: 100%;
  }
  // 르완다
  &.rw {
    background: url(../images/SSA/rw.png)no-repeat center;
    background-size: 100%;
  }
  // 수단
  &.sd {
    background: url(../images/SSA/sd.png)no-repeat center;
    background-size: 100%;
  }
  // 세네갈
  &.sn {
    background: url(../images/SSA/sn.png)no-repeat center;
    background-size: 100%;
  }
  //탄자니아
  &.tz {
    background: url(../images/SSA/tz.png)no-repeat center;
    background-size: 100%;
  }
  // 우간다
  &.ug {
    background: url(../images/SSA/ug.png)no-repeat center;
    background-size: 100%;
  }
  // 남아프리카공화국
  &.za {
    background: url(../images/SSA/za.png)no-repeat center;
    background-size: 100%;
  }
  // 짐바브웨
  &.zw {
    background: url(../images/SSA/zw.png)no-repeat center;
    background-size: 100%;
  }
  }
}

.flag33 {
  width: 39px;
  height: 28px;
  background: #79818C;

  &.jp {
    background: url(../images/NAA/jp.png)no-repeat center;
  }
  &.cn {
    background: url(../images/NAA/cn.png)no-repeat center;
  }
  &.hk {
    background: url(../images/NAA/hk.png)no-repeat center;
  }
  &.mn {
    background: url(../images/NAA/mn.png)no-repeat center;
  }
  &.tw {
    background: url(../images/NAA/tw.png)no-repeat center;
  }
  // 사하라 이남 아프리카
  // 앙골라
  &.ao {
    background: url(../images/SSA/ao.png)no-repeat center;
  }
  // 콩고
  &.cd {
    background: url(../images/SSA/cd.png)no-repeat center;
  }
  // 코트디부아르
  &.ci {
    background: url(../images/SSA/ci.png)no-repeat center;
  }
  // 카메룬
  &.cm {
    background: url(../images/SSA/cm.png)no-repeat center;
  }
  // 에티오피아
  &.et {
    background: url(../images/SSA/et.png)no-repeat center;
  }
  // 가봉
  &.ga {
    background: url(../images/SSA/ao.png)no-repeat center;
  }
  // 가나
  &.gh {
    background: url(../images/SSA/gh.png)no-repeat center;
  }
  // 적도기니
  &.gq {
    background: url(../images/SSA/gq.png)no-repeat center;
  }
// 케냐
  &.ke {
    background: url(../images/SSA/ke.png)no-repeat center;
  }
  // 마다가스카르
  &.mg {
    background: url(../images/SSA/mg.png)no-repeat center;
  }
  // 모잠비크
  &.mz {
    background: url(../images/SSA/mz.png)no-repeat center;
  }
  // 나이지리아
  &.ng {
    background: url(../images/SSA/ng.png)no-repeat center;
  }
  // 르완다
  &.rw {
    background: url(../images/SSA/rw.png)no-repeat center;
  }
  // 수단
  &.sd {
    background: url(../images/SSA/sd.png)no-repeat center;
  }
  // 세네갈
  &.sn {
    background: url(../images/SSA/sn.png)no-repeat center;
  }
  //탄자니아
  &.tz {
    background: url(../images/SSA/tz.png)no-repeat center;
  }
  // 우간다
  &.ug {
    background: url(../images/SSA/ug.png)no-repeat center;
  }
  // 남아프리카공화국
  &.za {
    background: url(../images/SSA/za.png)no-repeat center;
  }
  // 짐바브웨
  &.zw {
    background: url(../images/SSA/zw.png)no-repeat center;
  }

}
b{
  line-height: 150%;
  display: block;
}
@media screen and (max-width:1080px) {
  footer {
    .container{
      flex-direction: column;        
      padding: 48px 0;

      .ft_logo{
        flex-direction: column;
        ul{
          padding: 24px 0;
          margin: 0;
          flex-direction: column;
          gap: 8px;
          li{
            padding: 0;
            &:last-child{
              padding-left: 0;
            }
            &::before{
              display: none;
            }
          }
        }
      }
      p{
        width: 207px;
        text-align: center;
      }
    }
  }
}

