.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  height: 104px;

  .container {
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_sch {
      display: flex;
      align-items: center;
      height: 100%;
      width: 83%;

      .logo {
        width: 88px;
        height: 100%;
        border: 1px solid #b4b4b4;
        margin-right: 48px;
      }

      .search {
        width: calc(100% - 138px);

        .search_bar {
          height: 48px;
          display: flex;
          align-items: center;
          border: 2px solid transparent;
          border-radius: 48px;
          background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #005EAC 0%, #EB1C23 100%);
          background-origin: border-box;
          background-clip: content-box, border-box;

          button {
            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            background: url(../images/search_ico.png) no-repeat center;
            background-size: 100%;
            margin-left: 28px;
            cursor: pointer;
          }

          input {
            width: 90%;
            height: 48px;
            outline: 0;
            border: 1px solid transparent;
            ;
            background: transparent;
            padding: 0 14px;
            font-weight: 400;


          }
        }

      }
    }

    .info {
      display: flex;
      align-items: center;

      a {
        font-weight: 500;
        color: #050505;
        text-decoration: underline;
        text-underline-position: under;
      }

      button {
        margin-left: 8px;
        width: 6px;
        height: 12px;
        background: url(../images/arrow.png);
      }
    }
  }
}

footer {
  background: #181818;

  .container {
    height: 100%;
    justify-content: space-between;
padding: 42px 0;
    .ft_logo {

      img {
        opacity: 0.6;
      }

      ul {
        margin-left: 52px;

        li {
          font-weight: 300;
          font-size: 0.875em;
          padding-right: 16px;
          color: #fff;

          &:last-child {
            color: #AAB0B8;
            padding-left: 16px;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              width: 1px;
              height: 12px;
              background: #79818C;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 0.875em;
      text-transform: uppercase;
    }
  }
}

.top_btn {
  position: fixed;
  bottom: 130px;
  right: 150px;
  display: none;
  z-index: 999;

}

.flex {
  display: flex;
  align-items: center;
}

.flag24 {
  width: 30px;
  height: 22px;
  background: #79818C;

  &.sgp {
    background: url(../images/sgp.svg)no-repeat center;

  }

  &.svk {
    background: url(../images/svk.svg)no-repeat center;
  }

  &.nld {
    background: url(../images/nld.svg)no-repeat center;
  }

  &.jpn {
    background: url(../images/jpn.svg)no-repeat center;
  }
}

.option {
  .flag24 {
    width: 30px;
    height: 22px;
    background: #79818C;

    &.sgp {
      background: url(../images/sgp.svg)no-repeat center;
      background-size: 100%;

    }

    &.svk {
      background: url(../images/svk.svg)no-repeat center;
      background-size: 100%;
    }

    &.nld {
      background: url(../images/nld.svg)no-repeat center;
      background-size: 100%;
    }

    &.jpn {
      background: url(../images/jpn.svg)no-repeat center;
      background-size: 100%;
    }
  }
}

.flag33 {
  width: 39px;
  height: 28px;

  &.geo {
    background: url(../images/geo.svg)no-repeat center;
  }
  &.jpn {
    background: url(../images/jpn.svg)no-repeat center;
  }

}

@media screen and (max-width:1080px) {
  footer {
    .container{
      flex-direction: column;        
      padding: 48px 0;

      .ft_logo{
        flex-direction: column;
        ul{
          padding: 24px 0;
          margin: 0;
          flex-direction: column;
          gap: 8px;
          li{
            padding: 0;
            &:last-child{
              padding-left: 0;
            }
            &::before{
              display: none;
            }
          }
        }
      }
      p{
        width: 207px;
        text-align: center;
      }
    }
  }
}

a{
  font-family:'pretendard', 'Noto Sans','sans-serif';
}