.sns_state {
  background: url(../images/sns_stateBg.png) no-repeat;
  background-size: cover;
  max-height: 644px;
}

.container {

  .tit_wrap {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3.tit {

      font-weight: 700;
      font-size: 2.5em;
      font-family: 'jalnan';
      color: #fff;
    }

    .list_tab {
      ul {
        display: flex;
        background: #1A3857;
        border-radius: 8px;
        padding: 4px;

        li {
          width: 40px;
          height: 40px;
          border-radius: 8px;

          &.on {
            background: #06050D;
          }

          a {
            width: 100%;
            height: 100%;
          }

          &:first-child {
            a {
              background: url(../images/map_btn_off.png)no-repeat;
              background-size: 100%;
            }

            &.on {
              a {
                background: url(../images/map_btn_on.png)no-repeat;
                background-size: 100%;
              }
            }
          }

          &:last-child {
            a {
              background: url(../images/list_btn_off.png)no-repeat;
              background-size: 100%;
            }

            &.on {
              a {
                background: url(../images/list_btn_on.png)no-repeat;
                background-size: 100%;
              }
            }
          }

        }
      }
    }
  }

  .list_wrap {
    .embassy_list {
      padding-top: 56px;
      padding-bottom: 120px;
      display: none;

      &:last-child {
        display: block;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;

        li {
          border: 2px solid #fff;
          height: 152px;
          border-radius: 8px;
          padding: 10px;

          a {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-weight: 500;
              font-size: 1.375em;
              color: #fff;
              text-align: center;
              word-break: keep-all;
            }
          }

          &:hover,
          &.on {
            background: #BCD4F0;
            border: 2px solid transparent;

            a {
              span {
                font-weight: 600;

                color: #000;
              }
            }
          }
        }
      }
    }

    .embassy_map {
      padding-top: 0;
      padding-bottom: 73px;

      .map {
        background: url(../images/sns_map.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 76%;
        position: relative;
        padding-bottom: 36%;
        transition: .3s;

        .marker {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          button {
            width: 36px;
            height: 50px;
            background: url(../images/map_marker.png);
            position: relative;

            &:before {
              content: '';
              font-weight: 500;
              font-size: 0.875em;
              background: #fff;
              padding: 5px 12px;
              border-radius: 999px;
              position: absolute;
              top: -70%;
              left: 50%;
              transform: translateX(-50%);
              width: 110px;
              display: none;
              z-index: 1;
            }
          }

          &:hover {
            button {
              background: url(../images/marker_on.png);
            }
          }

          &.txt_2 {
            button {
              &:before {
                top: -100%;
              }
            }

          }

          // 중동북아프리카 마커
          &.middle_east_north_africa_marker {
            top: 44%;
            left: 46%;

            button {
              &:before {
                content: '중동 북아프리카';
                display: none;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;
                }
              }
            }

          }

          // 동남아시아 서남아시아태평양 마커
          &.southwest_asia_pacific_marker {
            top: 37%;
            left: 63%;

            button {
              &:before {
                content: '동남아시아 \A 서남아시아태평양';
                white-space: pre;
                display: none;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;
                }
              }
            }
          }

          // 동북아시아 마커
          &.north_east_aisa_marker {
            top: 34%;
            left: 68%;

            button {
              &:before {
                content: '동북아시아';
                display: none;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;
                }
              }
            }
          }

          // 사하라 이남아프리카 마커
          &.sub_saharan_africa_marker {
            top: 65%;
            left: 52%;

            button {
              &:before {
                content: '사하라 \A 이남 아프리카';
                white-space: pre;
                display: none;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;
                }
              }
            }
          }

          // 북미 마커
          &.northamerica_marker {
            top: 22%;
            left: 24%;

            button {
              &:before {
                content: '북미';
                display: none;
                width: 80px;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;

                }
              }
            }
          }

          // 러시아 중앙아시아 마커
          &.russia_central_asia_marker {
            top: 16%;
            left: 67%;

            button {
              &:before {
                content: '러시아 중앙아시아';
                display: none;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;

                }
              }
            }
          }

          // 유럽 마커
          &.europe_marker {
            top: 22%;
            left: 52%;

            button {
              &:before {
                content: '유럽';
                display: none;
                width: 80px;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;

                }
              }
            }
          }

          // 중남미 마커
          &.central_south_america_marker {
            top: 58%;
            left: 32%;

            button {
              &:before {
                content: '중남미';
                display: none;
                width: 80px;
              }
            }

            &:hover {
              button {
                &:before {
                  display: block;

                }
              }
            }
          }
        }
      }
    }
  }
}


.popular_contents {
  background: #F2F4F5;
  //height: 260px;
  max-height: 580px;

  .container {
    position: relative;
    padding-bottom: 20%;
    min-height: 510px;


    .tit_wrap {
      display: flex;
      justify-content: flex-start;
      gap: 3.5em;
      padding-bottom: 64px;

      h3 {
        color: #C6CBD0;
        position: relative;

        &.on {
          color: #000000;

          &:before {
            content: '';
            position: absolute;
            width: 0.4em;
            height: 0.4em;
            border-radius: 50%;
            background: #822899;
            top: -16px;
            left: 0;
          }
        }

        // 0313 호버 수정
        &:hover {
          color: #000000;
        }
      }
    }

    .slide_tab {
      position: relative;

      .content_wrap {
        position: absolute;
        width: 100%;

        &:last-child {
          display: none;
        }

        .swiper-slide {

          .img_wrap {
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 24px;
            position: relative;
            max-width: 216px;
            height: auto;
            padding-bottom: 100%;

            .hover {
              display: none;
              position: absolute;
              top: 50%;
              left: 53%;
              transform: translate(-50%, -50%);
              z-index: 2;

              color: #fff;

              span {
                font-size: 1.375em;
                font-weight: 500;
              }

              img {
                margin-left: 8px;
              }
            }

            >img {
              width: 100%;
              position: absolute;
            }

            &:hover {
              &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
              }

              .hover {
                display: block;
              }
            }
          }

          span.office {
            display: block;
            text-align: center;
            font-size: 1.125em;
          }
        }

        .swiper-button {
          position: absolute;
          width: 40px;
          height: 40px;


          &-next {
            right: -72px;
            width: 40px;
            height: 40px;
            top: 42%;

            &:after {
              content: '';
              width: 100%;
              height: 100%;
              background: url(../images/next_btn.png)no-repeat 100%;
            }
          }

          &-prev {
            left: -72px;
            width: 40px;
            height: 40px;
            top: 42%;

            &:after {
              content: '';
              width: 100%;
              height: 100%;
              color: #000;
              background: url(../images/prev_btn.png)no-repeat 100%;

            }
          }

        }

        // 0317 이달의 우수사례 데이터 1~2개 노출시 변경되던 레이아웃 수정
        .monthly_content {
          display: grid;
          gap: 29px;
          grid-template-columns: repeat(3, 1fr);

          >div {
            a {
              border-radius: 16px;
              overflow: hidden;
              position: relative;
              padding-bottom: 66.5%;

              img {
                width: 100%;
                position: absolute;
              }



              span.flex {
                position: absolute;
                width: 100%;
                padding: 24px;
                max-height: 72px;
                color: #fff;
                background: #00000060;
                bottom: 0;
                left: 0;
                z-index: 10;
                font-size: 0.875em;
                
                .flag24 {
                  margin-right: 12px;
                }
              }

              .hover {
                display: none;
              }

              &:hover .hover {
                display: block;
                position: absolute;
                width: 40px;
                height: 32px;
                right: 24px;
                top: 24px;
                z-index: 20;
              }

              &:hover:after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                position: absolute;
                left: 0;
                top: 0;
              }
            }

          }
        }
      }
    }
  }
}

.sns_list {

  margin-top: 16px;

  &.sns_main {
    margin-top: 0;
  }

  .sns_top {
    border-bottom: 1px solid #DDE1E4;

    .container {
      .tit_wrap {
        padding: 96px 0 56px;

        h3.tit {
          color: #000;
        }
      }

      .sns_tab {
        padding-bottom: 8px;

        ul {
          display: flex;
          gap: 24px;

          li {
            position: relative;
            button {
              &.all_btn {
                width: 40px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -103px -108px;
              }

              &.facebook_btn {
                width: 110px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -167px -108px;
              }

              &.twt_btn {
                width: 90px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -301px -108px;
              }

              &.insta_btn {
                width: 115px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -415px -108px;
              }

              &.youtube_btn {
                width: 105px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -554px -108px;
              }
            }

            &.on,
            &:hover {
              button {
                &.all_btn {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -103px -38px;
                }

                &.facebook_btn {
                  width: 110px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -167px -38px;
                }

                &.twt_btn {
                  width: 90px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -301px -38px;
                }

                &.insta_btn {
                  width: 115px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -415px -38px;
                }

                &.youtube_btn {
                  width: 105px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -554px -38px;
                }
              }
            }
            &.on button:after {
              content: '';
              height: 2px;
              width: 100%;
              background: #26282C;
              position: absolute;
              bottom: -9px;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.sns_con {
  .container {
    position: relative;

  }
}



#load-more {
  margin: 80px auto;
  display: block;
  background: none;
  border: 1px solid #C6CBD0;
  padding: 9px 54px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25em;
  color: #484B51;
}

.hidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

/* ---- isotope ---- */

.isotope {
  margin: 80px 0;
  // border: 1px solid #000;

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }

}



/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 23%;
  color: #262524;
  margin-bottom: 48px;

  >span {
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 24px;
    gap: 16px;

    .flag {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #1A3857;

    }
  }

  a {
    &:hover {
      .img_wrap {
        .hover {
          display: block;

        }

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .img_wrap {
      border-radius: 16px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        display: block;
      }

      .hover {
        display: none;
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-weight: 500;
        font-size: 1.375em;
        color: #fff;

        img {
          margin-left: 8px;
          width: 24px;
        }
      }



      &.video_wrap {
        .play_time {
          position: absolute;
          right: 16px;
          bottom: 12px;
          background: #000;
          border-radius: 4px;

          span {
            color: #fff;
            display: block;
            padding: 0 8px;
            font-weight: 500;
            font-size: 0.75em;
            letter-spacing: 0;
          }
        }
      }
    }

    p {
      margin: 16px 0;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .like_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon_wrap {
      display: flex;
      align-items: center;
      gap: 12px;

      .icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #822899;

        &.fb_ico {
          background: url(../images/facebook_ico.png);
        }

        &.insta_ico {
          background: url(../images/insta_ico.png);
        }

        &.twt_ico {
          background: url(../images/twt_ico.png);
        }

        &.youtube_ico {
          background: url(../images/youtube_ico.png);
        }
      }

      .date {
        font-weight: 400;
        color: #696E76;
      }
    }

    .like {
      border: 1px solid #DDE1E4;
      border-radius: 4px;
      padding: 0 12px;
      height: 32px;
      font-weight: 400;

      .heart {
        color: rgba(245, 16, 58, 0.95);
        margin-right: 16px;
        width: 16px;
        height: 16px;
        background: url(../images/heart.png)no-repeat center;
      }

    }


  }
}



.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;

  .modalContents {
    width: 500px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .close {
      position: absolute;
      right: 0;
    }

  }

}

@media screen and (max-width:1420px) {
  .content_wrap .swiper {
    width: 87%;
  }

  .popular_contents .container .slide_tab .content_wrap .swiper-button-next {
    right: 0;
  }

  .popular_contents .container .slide_tab .content_wrap .swiper-button-prev {
    left: 0;
  }

  .top_btn {
    right: 2%;
    width: 100px;
  }
}

@media screen and (max-width:1240px) {


  .container {
    padding: 0 20px;
  }

  .element-item {
    width: 22%;
  }


}

@media screen and (max-width:1080px) {
  .container {
    .list_wrap {
      .embassy_map {
        .map {
          .marker {
            &:hover {
              button {
                background: url(../images/marker_on.png);
                width: 25px;
                height: 43px;
                background-size: contain;
                background-repeat: no-repeat;
              }
            }

            button {
              width: 25px;
              height: 43px;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }

  .element-item {
    width: 30%;
  }
}

@media screen and (max-width:720px) {
  .sns_state {
    background: url(../images/m_sns_stateBg.png)no-repeat 95% 4%, linear-gradient(180deg, rgba(242, 244, 245, 0) 0%, #F2F4F5 100%);
    ;
    max-height: unset;

    .container {
      padding: 0 24px;

      .tit_wrap {
        padding-top: 56px;

        h3.tit {
          color: #000;
          font-size: 1.375em;
        }

        .list_tab {
          display: none;
        }
      }

      .list_wrap {
        .embassy_list {
          padding-top: 32px;
          padding-bottom: 0;

          .embassy_map {
            display: none;
          }

          &:last-child {
            display: block;
          }


          ul {
            display: flex;
            flex-direction: column;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
            background: #fff;
            border-radius: 16px;
            padding:12px 0 15px;
            gap: 0;

            li {
              border: none;
              height: unset;
              padding: 0;

              &:hover {
                background: #fff;
              }

              a {
                display: block;
                padding: 15px 20px;
                position: relative;

                &:after {
                  content: '';
                  width: 32px;
                  height: 32px;
                  background: url(../images/m_st_arrow.png);
                  position: absolute;
                  right: 12px;
                  top: 50%;
                  transform: translateY(-50%);
                }

                span {
                  color: #000;
                  font-weight: 600;
                  font-size: 1.0625em;
                  display: flex;
                  align-items: center;

                  &::before {
                    content: '';
                    width: 18px;
                    height: 24px;
                    background: url(../images/m_marker.png);
                    display: inline-block;
                    margin-right: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .popular_contents {
    .container {
      padding: 0 0 0 24px;
      min-height: 390px;
      height: 65vw;

      .tit_wrap {
        gap: 1.25em;
        padding-top: 52px;
        padding-bottom: 32px;

        h3 {
          &::before {
            display: none;
          }

          &.on:after {
            content: '';
            width: 8px;
            height: 8px;
            background: #004FC7;
            position: absolute;
            border-radius: 50%;
            top: -10px;
            right: 0;
          }
        }
      }

      .slide_tab {
        .content_wrap {
          .monthly_content {
            gap: unset;
            >div{
              a{
                span.flex{
                  padding: 10px 24px;
                }
              }
            }
          }

          .swiper-slide {
            .img_wrap {
              margin-bottom: 16px;
            }

            span.office {
              font-size: 0.875em;
            }
          }

          .swiper {
            width: 100%;
          }

          .swiper-button-next,
          .swiper-button-prev {
            display: none;
          }
        }
      }
    }
  }

  .sns_list {
    .sns_top {
      border-bottom: none;

      .container {
        margin-left: 24px;
        padding: 0 24px 0 0;
        border-bottom: 1px solid #DDE1E4;

        .tit_wrap {
          padding: 32px 0 24px;
        }

        .sns_tab {
          ul {
            gap: 12px;

            li {
              button {
                &.all_btn {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -103px -108px;
                }

                &.facebook_btn {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -167px -108px;
                }

                &.twt_btn {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -301px -108px;
                }

                &.insta_btn {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -415px -108px;
                }

                &.youtube_btn {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -554px -108px;
                }
              }

              &.on,
              &:hover {
                button {
                  position: relative;

                  &.all_btn {
                    width: 40px;
                    height: 40px;
                    background: url(../images/sns_icon.png)no-repeat;
                    background-position: -103px -38px;
                  }

                  &.facebook_btn {
                    width: 40px;
                    height: 40px;
                    background: url(../images/sns_icon.png)no-repeat;
                    background-position: -167px -38px;
                  }

                  &.twt_btn {
                    width: 40px;
                    height: 40px;
                    background: url(../images/sns_icon.png)no-repeat;
                    background-position: -301px -38px;
                  }

                  &.insta_btn {
                    width: 40px;
                    height: 40px;
                    background: url(../images/sns_icon.png)no-repeat;
                    background-position: -415px -38px;
                  }

                  &.youtube_btn {
                    width: 40px;
                    height: 40px;
                    background: url(../images/sns_icon.png)no-repeat;
                    background-position: -554px -38px;
                  }

                }
              }

              &.on button:after {
                content: '';
                height: 4px;
                width: 100%;
                background: #004FC7;
                position: absolute;
                bottom: -10px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }

  .container .tit_wrap {

    h3.tit {
      font-size: 1.25em;
    }
  }

  .sns_con {
    .container {
      padding: 0 24px;
    }
  }

  .isotope {
    margin: 32px 0 0;
  }

  .element-item {
    width: 47%;
  }

  #load-more {
    margin: 40px auto;
    padding: 8px 24px;
    font-size: 1em;
  }
}

@media screen and (max-width:580px) {
  .element-item {
    width: 46%;
  }
}

@media screen and (max-width:500px) {
  .element-item {
    width: 100%;
  }
}