.sns_state {
  background: url(../images/sns_stateBg.png)100%;
}

.container {

  .tit_wrap {
    padding: 80px 0 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3.tit {

      font-weight: 700;
      font-size: 2.5em;
      font-family: 'jalnan';
      color: #fff;
    }

    .list_tab {
      ul {
        display: flex;
        background: #1A3857;
        border-radius: 8px;
        padding: 4px;

        li {
          width: 40px;
          height: 40px;
          border-radius: 8px;

          &.on {
            background: #06050D;
          }

          a {
            width: 100%;
            height: 100%;
          }

          &:first-child {
            a {
              background: url(../images/map_btn_off.png)no-repeat;
              background-size: 100%;
            }

            &.on {
              a {
                background: url(../images/map_btn_on.png)no-repeat;
                background-size: 100%;
              }
            }
          }

          &:last-child {
            a {
              background: url(../images/list_btn_off.png)no-repeat;
              background-size: 100%;
            }

            &.on {
              a {
                background: url(../images/list_btn_on.png)no-repeat;
                background-size: 100%;
              }
            }
          }

        }
      }
    }
  }

  .embassy_list {
    padding-bottom: 120px;

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 24px;

      li {
        border: 2px solid #fff;
        height: 152px;
        border-radius: 8px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-weight: 500;
            font-size: 1.375em;
            color: #fff;
            text-align: center;
          }
        }

        &.on {
          background: #BCD4F0;
          border: 2px solid transparent;

          a {
            span {
              font-weight: 600;

              color: #000;
            }
          }
        }
      }
    }
  }
}


.contents {
  background: #F2F4F5;
  //height: 260px;

  .container {
    position: relative;
    padding-bottom: 20%;

    .tit_wrap {
      display: flex;
      justify-content: flex-start;
      gap: 3.5em;
      padding-bottom: 64px;

      h3 {
        color: #C6CBD0;
        position: relative;

        &.on {
          color: #000000;

          &:before {
            content: '';
            position: absolute;
            width: 0.4em;
            height: 0.4em;
            border-radius: 50%;
            background: #822899;
            top: -16px;
            left: 0;
          }
        }
      }
    }

    .slide_tab {
      position: relative;

      .content_wrap {
        position: absolute;
        width: 100%;

        &:last-child {
          display: none;
        }

        .swiper-slide {

          .img_wrap {
            border-radius: 16px;
            height: 214px;
            overflow: hidden;
            margin-bottom: 24px;
            position: relative;

            span.hover {
              display: none;
              position: absolute;
              top: 50%;
              left: 53%;
              transform: translate(-50%, -50%);
              z-index: 2;
              font-weight: 500;
              font-size: 1.375em;
              color: #fff;

              img {
                margin-left: 8px;
              }
            }

            >img {
              width: 100%;
            }

            &:hover {
              &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
              }

              span.hover {
                display: block;
              }
            }
          }

          span {
            display: block;
            text-align: center;
            font-size: 1.125em;
          }
        }

        .swiper-button {
          position: absolute;
          width: 40px;
          height: 40px;


          &-next {
            right: -72px;
            width: 40px;
            height: 40px;
            top: 42%;

            &:after {
              content: '';
              width: 100%;
              height: 100%;
              background: url(../images/next_btn.png)no-repeat 100%;
            }
          }

          &-prev {
            left: -72px;
            width: 40px;
            height: 40px;
            top: 42%;

            &:after {
              content: '';
              width: 100%;
              height: 100%;
              color: #000;
              background: url(../images/prev_btn.png)no-repeat 100%;

            }
          }

        }

        .monthly_content {
          display: flex;
          gap: 29px;

          div {
            flex: 1;

            a {
              border-radius: 16px;
              overflow: hidden;
              position: relative;

              img {
                width: 100%;
              }



              span.flex {
                position: absolute;
                width: 100%;
                padding: 24px;
                height: 72px;
                color: #fff;
                background: #00000060;
                bottom: 0;
                left: 0;
                z-index: 10;

                img {
                  width: 24px;
                  margin-right: 18px;
                }
              }

              span.hover {
                display: none;
              }

              &:hover span.hover {
                display: block;
                position: absolute;
                width: 40px;
                height: 32px;
                right: 24px;
                top: 24px;
                z-index: 20;
              }

              &:hover:after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                position: absolute;
                left: 0;
                top: 0;
              }
            }

          }
        }
      }
    }
  }
}

.new_sns {
  .new_top {
    border-bottom: 1px solid #eee;

    .container {
      .tit_wrap {
        padding: 96px 0 56px;

        h3.tit {
          color: #000;
        }
      }

      .new_tab {
        padding-bottom: 8px;

        ul {
          display: flex;
          gap: 24px;

          li {
            button {
              &.all {
                width: 40px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -103px -108px;
              }

              &.facebook {
                width: 110px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -167px -108px;
              }

              &.twt {
                width: 90px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -301px -108px;
              }

              &.insta {
                width: 115px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -415px -108px;
              }

              &.youtube {
                width: 105px;
                height: 40px;
                background: url(../images/sns_icon.png)no-repeat;
                background-position: -554px -108px;
              }
            }

            &.on {
              button {
                &.all {
                  width: 40px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -103px -38px;
                }

                &.facebook {
                  width: 110px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -167px -38px;
                }

                &.twt {
                  width: 90px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -301px -38px;
                }

                &.insta {
                  width: 115px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -415px -38px;
                }

                &.youtube {
                  width: 105px;
                  height: 40px;
                  background: url(../images/sns_icon.png)no-repeat;
                  background-position: -554px -38px;
                }
              }
            }

          }
        }
      }
    }
  }
}

.newsns_con {
  .container {
    position: relative;

  }
}



#load-more {
  margin: 30px auto;
  display: block;
  background: none;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

/* ---- isotope ---- */

.isotope {
  margin-top: 80px;
  // border: 1px solid #000;
  
  /* clear fix */
  &:after {
  content: '';
  display: block;
  clear: both;
}

}



/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 23%;
  color: #262524;
  margin-bottom: 48px;

  >span {
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 24px;
    .flag{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #1A3857;
      margin-right: 20px;
    }
  }

  .img_wrap {
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }
  }
  figcaption{
    padding: 16px 0;
    font-weight: 300;
  }
  .like_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    .icon_wrap{
      display: flex;
      align-items: center;
      gap: 16px;
       .icon{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #822899;
    }
    .date{
      font-weight: 400;
      color: #696E76;
    }
    }
    .like{ border: 1px solid #DDE1E4;
      border-radius: 8px;
      padding: 0 12px;
      height:32px;
      font-weight: 400;
      .heart{
        color: rgba(245, 16, 58, 0.95);
        margin-right: 16px;
      }

    }
   

  }
}



.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;

  .modalContents {
    width: 500px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .close {
      position: absolute;
      right: 0;
    }

  }

}

// 