// 서브페이지 sns 현황
.sub_sns_state {
  background: url(../images/sub_sns_state_bg.png);
  background-position-y: 25%;
  background-size: 100%;
  position: relative;

  .container {
    .tit_wrap {
      padding: 48px 0 56px;
    }

    .select_wrap {
      padding-bottom: 40px;

      >ul {
        display: flex;
        justify-content: space-between;

        >li {
          flex: 0 1 48%;
          font-weight: 500;
          color: #DBDBDB;
        }

        &.select_box {
          li.select {

            position: relative;
            font-weight: 600;
            font-size: 1.25em;
            color: #fff;
            padding: 8px 4px;
            border-bottom: 1.5px solid #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            span {
              display: flex;
              align-items: center;
              gap: 8px;

            }

            button {
              background: url(../images/down_btn.png);
              width: 24px;
              height: 24px;

              &.up_btn {
                background: url(../images/up_btn.png);
              }
            }
          }
        }
        &.m_select_box{
          display: none;
        }
      }
    }

  }

  .option_wrap {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 20;
    padding: 16px;
    display: none;

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 14px;

      li {
        border: 1.5px solid #EAEAEA;
        border-radius: 4px;

        height: 56px;

        a {
          color: #484B51;
          width: 100%;
          font-weight: 400;
          padding: 0 16px;
          height: 100%;
          display: flex;
          align-items: center;
          gap: 12px;
          word-break: keep-all;

          &.fs_09 {
            font-size: 0.9em;
          }
        }

        &:hover,
        &.on {
          border: 1.5px solid #000;

          a {
            font-weight: 500;
            color: #26282C;
          }
        }
      }
    }

  }
}

.wrapper {
  position: relative;

  .dim {
    position: absolute;
    top: 380px;
    left: 0;
    width: 100%;
    height: calc(100% - 380px);
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 19;

    &.on {
      display: block;
    }
  }
}

// 공관소개
.office_info {
  background: url(../images/office_info.png)no-repeat;
  background-size: cover;
}

.ofiice_info_con {
  padding: 5.5% 0 4.6%;

  position: relative;

  .container {
    display: flex;
    align-items: center;
  }
  .m_info_container{
    display: none;
  }
  .slide_wrap {
    width: 50%;
    padding: 4.7% 0 6%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 10000px;
      height: 100%;
      left: 50%;
      top: 0;
      background: #212E40;
    }

    .office_slide {
      width: 100%;
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        opacity: 1;
        background: rgba(255, 255, 255, 0.5);
      }
  
      .swiper-pagination-bullet-active {
        background: #fff;
      }
      .img_wrap{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }

    .slide_btn {
      position: absolute;
      width: 160px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      left: 50%;
      transform: translateX(-50%);
      z-index: 18;
      bottom: 3%;

      .swiper-button-next {

        width: 24px;
        height: 24px;

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: url(../images/office_next_btn.png);
          background-size: contain;

        }
      }

      .swiper-button-prev {

        width: 24px;
        height: 24px;

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: url(../images/office_prev_btn.png);
          background-size: contain;

        }
      }
    }
  }

  // .bg {
  //   position: absolute;
  //   width: 66.5%;
  //   height: 76%;
  //   top: 52%;
  //   right: 0;
  //   transform: translateY(-50%);
  //   background: #212E40;
  //   z-index: -1;
  // }

  .txt_wrap {
    margin: 5.4% 0px 6% 2.7%;
    width: 50%;
    position: relative;
    color: #868B95;


    .office_info_txt {
      padding-right: 10%;
      max-height: 350px;
      height: 17vw;
      overflow-y: auto;

      // 스크롤
      &::-webkit-scrollbar {
        width: 4px;

      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: rgba(219, 219, 219, 0.1);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(219, 219, 219, 0.5);
        border-radius: 16px;
        overflow: hidden;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(219, 219, 219, 1);
      }
    }

    .office_name {
      display: block;
      font-weight: 600;
      font-size: 1.5em;
      margin-bottom: 28px;
      color: #fff;
    }

    .address,
    .po_box,
    .tell {
      padding-bottom: 16px;

      span {
        font-weight: 400;
        //display: flex;
        font-size: 1em;
        //gap: 8px;
        margin-bottom: 8px;

        // .address_icon {
        //   width: 24px;
        //   height: 24px;
        //   background: url(../images/address_ico.png);
        // }

        // .po_icon {
        //   width: 24px;
        //   height: 24px;
        //   background: url(../images/po_ico.png);
        // }

        // .tell_icon {
        //   width: 24px;
        //   height: 24px;
        //   background: url(../images/tell_ico.png);
        // }
      }

      p {
        font-weight: 400;
        font-size: 1em;
        color: #868B95;
        word-wrap: break-word;
      }
    }

    .tell {
      padding-bottom: 0;
    }
  }

}

// 통합검색
.sch_wrap {
  background-image: linear-gradient(to bottom, #212E40 50%, #fff 50%);

  .container {
    .tit_wrap {
      display: block;
      padding: 40px 0;

      .tit {
        text-align: center;
      }
    }

    .input_wrap,
    .m_input_wrap {
      background: #F7F7F8;
      border-radius: 4px;
      padding: 34px 48px 40px;

      >ul {

        >li {
          display: flex;
          align-items: center;
          width: 100%;
          padding-bottom: 24px;
          
          .search_bar {
            width: 80%;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #000;

            input[type="text"] {
              background: none;
              outline: 0;
              padding: 8px 10px;
              font-weight: 500;
              font-size: 1.5em;
              color: #484B51;
            }

            button {
              width: 32px;
              height: 32px;
              padding: 0;
              border: none;
              background: url(../images/sch_search_ico.png) no-repeat;
              margin: 8px;
              cursor: pointer;
            }
          }

          .chck {
            color: #484B51;
            font-weight: 400;
            font-size: 1em;
            margin-right: 0;
          }

          input[type="checkbox"] {
            margin: 0 8px 0 32px;
            padding: 0;
            width: 20px;
            height: 20px;
            background: url(../images/mf_chk_off.png);
            background-size: 100%;

            &:checked {
              background: url(../images/mf_chk_on.png);
              background-size: 100%;
            }
          }

          &:last-child {
            padding-bottom: 0;
          }

          >label,
          >span {
            min-width: 83px;
            font-weight: 500;
            font-size: 1.125em;
            margin-right: 40px;
          }

          select {
            padding: 0 16px;
            max-width: 380px;
            height: 36px;
            font-weight: 400;
            font-size: 1em;
            color: #484B51;
            width: 68%;
            border: 1px solid #DBDBDB;
            border-radius: 2px;

          }

          ul {
            display: flex;
            width: calc(100% - 107px);
            flex-wrap: wrap;
            gap:10px 16px;
            li {
              display: flex;
              align-items: center;
              
              input {
                padding: 0;
              }

              label {
                margin: 0 8px;
              }

              button {
                padding: 6px 16px;
                color: #484B51;
                border-radius: 999px;
                background: #EBEEF0;

                // &.active {
                //   color: #2A5AD3;
                //   border: 1px solid #2A5AD3;
                // }
                // &:hover{
                //   color: #2A5AD3;
                //   border: 1px solid #2A5AD3;
                // }
              }

              input[type="radio"] {
                margin: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                border: 1px solid #DBDBDB;

                &:checked {
                  background: #004FC7;
                }
              }

              input[type="date"] {
                margin-left: 4px;
                width: 151px;
                height: 36px;
                border-radius: 2px;
                border: 1px solid #C6CBD0;
                padding: 6px 16px;
                font-size: 1em;
                color: #484B51;
                position: relative;
                outline: 0;

                &::-webkit-clear-button,
                &::-webkit-inner-spin-button {
                  display: none;
                }

                &::-webkit-calendar-picker-indicator {
                  background: transparent;
                  z-index: 1;
                }

                &::after {
                  position: absolute;
                  top: 50%;
                  right: 12px;
                  content: '';
                  width: 20px;
                  height: 20px;

                  background: url(../images/mf_calendar_ico.png) center center /contain;
                  transform: translateY(-50%);
                  z-index: 0;

                }
              }

              span {
                padding: 0 8px;
              }
            }
          }
        }
      }
    }

    .m_input_wrap {
      display: none;
    }
  }
}

.sch_contents_wrap {
  .sns_con {
    margin-bottom: 80px;

    .container {
      .sch_continent_wrap {
        padding-bottom: 72px;

        .m_sch_contienet {
          display: none;
        }

        p {
          padding: 48px 0;
          text-align: center;
          font-weight: 500;
          font-size: 1.25em;
          color: #484B51;

          span {
            color: #004FC7;
          }
        }

        ul {
          border: 1px solid #C6CBD0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          ;

          li {
            margin: 16px 0;
            position: relative;

            a {
              padding: 0 2vw;
    font-weight: 400;
    color: #484B51;
    min-width: 190px;
    text-align: center;
            }

            &:after {
              content: '';
              position: absolute;
              width: 1px;
              height: 24px;
              background: #EBEEF0;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }

            &:nth-child(5n):after {
              display: none;

            }

            &.on {
              a {
                font-weight: 500;
                color: #004FC7;
              }
            }
          }
        }
      }


    }
  }
}

.resultview {

  .sch_sns_list {
    margin: 24px 0 16px;

    .element-item {
      margin-bottom: 48px;

    }

  }

  .isotope {
    margin: 24px 0 64px;

    .element-item {
      margin-bottom: 48;

    }
  }

  // #load-more{
  //     display: none;
  //   }
  p.no_result {
    text-align: center;
    padding: 24px 0 80px;
    font-weight: 500;

  }
}

.rst_ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #C6CBD0;

  span {
    font-weight: 500;
  }

  a {
    font-weight: 400;
    color: #79818C;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      width: 7px;
      height: 14px;
      display: inline-block;
      background: url(../images/arrow_result.png)no-repeat center;
      margin-left: 10px;
      margin-bottom: 1.5px;
    }

  }

  select {
    width: 32%;
    height: 36px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background: url(../images/slt_down.png)no-repeat 99% center;
    padding: 0 16px;
    font-weight: 400;
    font-size: 1em;
    color: #484B51;
    outline: 0;
  }
}

.sch_word {
  color: #004FC7;
}

.rst_ofc {
  display: flex;
  gap: 16px;
  padding-top: 24px;
  flex-wrap: wrap;

  li {
    border: 1.5px solid #EAEAEA;
    border-radius: 4px;
    height: 56px;

    a {
      color: #484B51;
      width: 230px;
      padding: 0 16px;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 12px;


      &.fs_09 {
        font-size: 0.9em;
      }
    }

    &:hover,
    &.on {
      border: 1.5px solid #000;

    }
  }
}

// 0321 sns 항목이 없을때 공관선택 잘리는 현상 수정
.contents_wrap {
  min-height: 620px;
}

//공관선택-러시아 중앙아시아 페이지

@media screen and (max-width:1200px) {
  .sub_sns_state .option_wrap.RCA_office ul{
    grid-template-columns: repeat(4, 1fr);
    li a.fs_09{
      word-break: break-all;
    }
  }

}
@media screen and (max-width:1000px) {
  .sub_sns_state .option_wrap.RCA_office ul{
    grid-template-columns: repeat(3, 1fr);
    li a.fs_09{
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width:1080px) {

  // sns현황 공관소개 옵션
  .sub_sns_state {
    .option_wrap {
      ul {
        grid-template-columns: repeat(4, 1fr);

        li {
          a {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  //통합검색
  
  .sch_contents_wrap {
    .sns_con{
      .container{
        .sch_continent_wrap{
          ul{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            li{
              a{
              min-width: unset;
              font-size: 0.95em;
            }
            }
          }
        }
      }
    }
  }   
  .sch_wrap{
   .container{
    .input_wrap{
       > ul {
        > li{
          .search_bar{
           width: 75%;
          } 
           input[type=checkbox]{
            margin: 0 8px 0 20px;
              } 
              ul{
                 gap: 10px 12px;
                 }
                } 
              }
            }
          } 
        } 

        .ofiice_info_con .slide_wrap .slide_btn{
          bottom: 2%;
          width: 130px;
        }
        .ofiice_info_con .slide_wrap .slide_btn .swiper-button-next{
          width: 20px;
          height: 20px;
        }
        .ofiice_info_con .slide_wrap .slide_btn .swiper-button-prev{
          width: 20px;
          height: 20px;
        }
}

@media screen and (max-width:740px) {

  
  //통합검색
  .sch_contents_wrap {
    .sns_con{
      .container{
        .sch_continent_wrap{
          ul{
            li{
              a{
              font-size: 0.9em;
            }
            }
          }
        }
      }
    }
  }  
  .ofiice_info_con .slide_wrap .slide_btn{
    bottom: 0;
  }
} 


@media screen and (max-width:720px) {
  .contents_wrap{
    min-height: 480px;
  }
  .container {
    padding: 0 24px;
  }

  // 통합검색
  .sch_wrap {
    background-image: linear-gradient(to bottom, #212E40 18%, #fff 18%);

    .container {
      padding: 0 24px 32px 24px;
      border-bottom:8px solid #F7F7F8 ;
      .tit_wrap {
        padding: 0 0 20px;

        h3.tit {
          text-align: left;
          font-size: 1.5em;
        }
      }

      .input_wrap {
        display: none;

      }

      .m_input_wrap {
        display: block;
        padding: 0;
        background: transparent;

        >ul {
          background: #ffffff;

          >li {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 0;

            .search_bar {
              width: 100%;

              input[type='text'] {
                padding: 18px 0 14px;
                font-weight: 400;
                font-size: 1.0625em;
                color: #000000;
              }
              button{
                width: 24px;
                height: 24px;
                background: url(../images/search_ico.png)no-repeat center;
              }
            }

            .chck_wrap {
              width: 100%;
              justify-content: flex-end;
              padding: 10px 0 20px;
            }
            input[type='checkbox'] {
              width: 16px;height: 16px;
            }

            &:first-child {
              position: relative;
              //border-bottom: 1px solid #EBEEF0;
              padding: 0 24px;

              &:after {
                position: absolute;
                content: '';
                width: calc(100% + 48px);
                height: 1px;
                background: #EBEEF0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }

            span {
              padding: 24px 0 16px;
            }

            ul {
              width: 100%;
              flex-wrap: wrap;
              gap: 8px;

              li {
                padding-right: 0;
              }

              &.sch_period {
                width: 320px;
                gap: 8px 4px;
                justify-content: space-between;
                li {
                  button {
                    padding: 0;
                    width: 48px;
                    height: 36px;
                    font-weight: 300;
                    font-size: 0.875em;
                    background: #ffffff;
                    border-radius: 2px;
                    overflow: hidden;
                    border: 1px solid #DDE1E4;

                    &.on {
                      border: 1px solid transparent;
                      background: #004FC7;
                      color: #ffffff;
                      font-weight: 500;
                    }
                  }

                  input[type='date'] {
                    border: 1px solid transparent;
                    margin-left: 0;
                  }

                  &:last-child {
                    border: 1px solid #DDE1E4;
                  width: 100%;
                  }

                  span {
                    padding: 0;
                  }

                }
              }

              &.order {
                gap: 0;

                li {
                  width: 50%;
                  border: 1px solid #DDE1E4;
                  border-radius: 2px 0 0 2px;

                  &:first-child {
                    margin-right: -1px;
                  }

                  &:last-child {
                    border-left: 1px solid transparent;
                    border-radius: 0 2px 2px 0;
                  }

                  button {
                    padding: 10px 0;
                    width: 100%;
                    border-radius: 0;
                    color: #8C949E;
                    background: #F7F7F8;

                  }

                  &.on {
                    border: 1px solid #484B51;

                    button {
                      background: #ffffff;
                      color: #484B51;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sch_contents_wrap {
    min-height: unset;
    .sns_con {
      .container {
        .sch_continent_wrap {
          padding-bottom: 32px;
          p{
            text-align: left;
            padding: 32px 0 24px;
            font-size: 1em;
          }
          .sch_continent {
            display: none;
          }

          .m_sch_contienet {
            display: block;
            select{
              font-size: 1em;
              border-radius: 2px ;
              border: 1px solid #DDE1E4;
              padding: 10px 16px;
              font-weight: 400;
              outline: 0;
              background: url(../images/slt_down.png)no-repeat 99% center;
            }
          }
        }
        .resultview{
          .rst_ctn{
            a{
              font-size: 0.875em;
              text-decoration: underline;
              text-underline-position: under;
              &:after{
                display: none;
              }
            }
          }
          p.no_result{
            font-weight: 400;
            color: #79818C;
            padding: 24px 0 32px;
          }
        }
      }
    }

  }
  .sch_word{
    font-weight: 500;
  }
  
  .rst_ctn{
    flex-wrap: wrap;
    gap: 16px 0;
  }
  .rst_ctn select{
    font-size: 1em;
    width: 100%;
    padding: 10px 16px;
    height: unset;
  }

  // sub_sns현황
  .sns_list{
    margin-top: 24px;
  }
  .sub_sns_state{
    background: none;
    border-bottom: 8px solid #F7F7F8;
    .container{
      .tit_wrap{
        padding: 32px 0 24px ; 
      }
      .select_wrap{
        padding-bottom: 32px;
        >ul{
          &:first-child{
            display: none;
          }
          
          &.select_box{
            display: none;
          }
          &.m_select_box{
            display: block;
            li.select{
             color: #000;
             padding: 0;              
              height: 80px;
              line-height: unset;
             label{
              font-weight: 400;
              font-size: 1em;
              color: #696E76;
             }
             span{
              font-weight: 500;
              
             }
              &:first-child{
                .nice-select{
                  border: none;
                  border-radius: 0;
                  border-bottom: 1px solid #004FC7;
                  background: url(../images/m_down_btn.png)no-repeat 99.5% center;                
                  margin-bottom: 24px;
                  padding-left: 0;
                  height: 44px;
                  .current{
                    font-size: 20px;
                    background: none;
                  }
                  

                  &::after{content: none;}
                  &.wide{
                    .list{
                      z-index: 20;
                    }
                  }
                }
              }
              &:last-child{
                border-radius: 8px;
                height: 95px;

                label{
                  margin-bottom: 12px;
                }
                .nice-select{
                  line-height: unset;
                  height: unset;
                  border: none;
                  border-radius: 8px;
                  background: url(../images/m_slt_down.png )no-repeat 95% center #F5F5F5;                
                  margin-top:12px;
                  padding:11.5px 12px 11.5px  0;
                  .current{
                   padding-left: 12px;
                    font-size: 1.25em;
                    background-size: 24px;
    background-position-x: 16px;
                    &.flag_2{
    padding-left: 50px;
                    }
                  }
                  

                  &::after{content: none;}
                  &.wide{
                    .list{
                      z-index: 20;
                    }
                  }
                }
            }
              }
              
          }
        }
      }
      
    }
    .option_wrap{
      &::-webkit-scrollbar {
        width: 4px;

      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: rgba(219, 219, 219, 0.5);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(177, 167, 167, 0.5);
        border-radius: 16px;
        overflow: hidden;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgb(145, 143, 143);
      }
        &.continent_option{
          top: 185px;
        }
        &.office_option{
          top: 300px;
          height: 368px;
          overflow: auto;
          box-shadow: -3px -4px 18px 0px rgba(0, 0, 0, 0.08);
           // 스크롤
      
        }
        ul{
          grid-template-columns: repeat(2, 1fr);
        }

        &.RCA_office{
          ul{
            grid-template-columns: repeat(2, 1fr);
            li{
              a.fs_09{
                font-size: 0.758em;
              }
            }
          }
        }
      }
  }
  .wrapper .dim{
    top: 460px;
  }

  // 공관소개
  .ofiice_info_con{
    padding: 32px 0 24px;
    .container{
      display: none;
    }
    .container{
      padding: 0;
      &.m_info_container{
        display: block;
        .m_office_info{
          margin-bottom: 48px;
          span.flex{
            padding: 0 24px;
            margin-bottom: 24px;
            font-weight: 500;
            font-size: 1.125em;
            .flag{
              width: 32px;
              height: 32px;
              margin-right: 16px;
            }
          }
          .m_slide_wrap{
            
            .img_wrap{
              width: 100%;
              img{
                width: 100%;
              } 
            }
            
            .slide_pg{
              height: 75px;
              padding: 20px 24px 24px;
              position: relative;
              
              .swiper-pagination{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
             text-align: left;
             padding-left: 24px;
            }
              .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                
                opacity: 1;
                background: rgba(0, 0, 0, 0.2);
              }
          
              .swiper-pagination-bullet-active {
                color: #fff;
                background: #004FC7;
              }
            
             .slide_btn{
              position: absolute;
              width: 64px;
              height: 32px;
              right: 24px;
              display: flex;
              .swiper-button-next{
                width: 32px;
                height: 32px;
                right: 0;
                top: 20px;
                background: url(../images/m_office_next_btn.png)no-repeat center;
                &::after{
                  content: none ;
                }
              }
              .swiper-button-prev{
                left: 1px;
                width: 32px;
                height: 32px;
                top: 20px;
                background: url(../images/m_office_prev_btn.png)no-repeat center;
                &::after{
                  content: none ;
                }
              }
             }
            }
            p{
              padding: 0 24px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width:500px) {
  .sub_sns_state .option_wrap{
    &.continent_option{
      height: 368px;
          overflow: auto;
    }
  }
  .sub_sns_state .option_wrap ul{
    grid-template-columns: repeat(1, 1fr);
  }
}