@charset "UTF-8";
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Pretendard-Thin.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Thin.eot") format("embedded-opentype"), url("../fonts/Pretendard-Thin.woff2") format("woff2"), url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.ttf") format("truetype"), url("../fonts/Pretendard-Thin.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.ttf") format("truetype"), url("../fonts/Pretendard-ExtraLight.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Light.eot") format("embedded-opentype"), url("../fonts/Pretendard-Light.woff2") format("woff2"), url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.ttf") format("truetype"), url("../fonts/Pretendard-Light.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Regular.eot") format("embedded-opentype"), url("../fonts/Pretendard-Regular.woff2") format("woff2"), url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.ttf") format("truetype"), url("../fonts/Pretendard-Regular.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Medium.eot") format("embedded-opentype"), url("../fonts/Pretendard-Medium.woff2") format("woff2"), url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.ttf") format("truetype"), url("../fonts/Pretendard-Medium.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-SemiBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-SemiBold.woff2") format("woff2"), url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.ttf") format("truetype"), url("../fonts/Pretendard-SemiBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Bold.eot") format("embedded-opentype"), url("../fonts/Pretendard-Bold.woff2") format("woff2"), url("../fonts/Pretendard-Bold.woff") format("woff"), url("../fonts/Pretendard-Bold.ttf") format("truetype"), url("../fonts/Pretendard-Bold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.ttf") format("truetype"), url("../fonts/Pretendard-ExtraBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Black.eot") format("embedded-opentype"), url("../fonts/Pretendard-Black.woff2") format("woff2"), url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.ttf") format("truetype"), url("../fonts/Pretendard-Black.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "jalnan";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Jalnan.eot");
  src: local(""), url("../fonts/Jalnan.eot") format("embedded-opentype"), url("../fonts/Jalnan.woff2") format("woff2"), url("../fonts/Jalnan.woff") format("woff"), url("../fonts/Jalnan.ttf") format("truetype"), url("../fonts/Jalnan.svg") format("svg");
}
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 150%;
  font-family: "pretendard", "Noto Sans", "sans-serif";
  letter-spacing: -0.03em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
}

ul, ol, li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}

caption, legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input, select, textarea {
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  height: 104px;
}
header .container {
  height: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo_sch {
  display: flex;
  align-items: center;
  height: 100%;
  width: 83%;
}
header .container .logo_sch .logo {
  width: 88px;
  height: 100%;
  border: 1px solid #b4b4b4;
  margin-right: 48px;
}
header .container .logo_sch .search {
  width: calc(100% - 138px);
}
header .container .logo_sch .search .search_bar {
  height: 48px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 48px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #005EAC 0%, #EB1C23 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
header .container .logo_sch .search .search_bar button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: url(../images/search_ico.png) no-repeat center;
  background-size: 100%;
  margin-left: 28px;
  cursor: pointer;
}
header .container .logo_sch .search .search_bar input {
  width: 90%;
  height: 48px;
  outline: 0;
  border: 1px solid transparent;
  background: transparent;
  padding: 0 14px;
  font-weight: 400;
}
header .container .info {
  display: flex;
  align-items: center;
}
header .container .info a {
  font-weight: 500;
  color: #050505;
  text-decoration: underline;
  text-underline-position: under;
}
header .container .info button {
  margin-left: 8px;
  width: 6px;
  height: 12px;
  background: url(../images/arrow.png);
}

footer {
  height: 117px;
  background: #181818;
}
footer .container {
  height: 100%;
  justify-content: space-between;
}
footer .container .ft_logo img {
  opacity: 0.6;
}
footer .container .ft_logo ul {
  margin-left: 52px;
}
footer .container .ft_logo ul li {
  font-weight: 300;
  font-size: 0.875em;
  padding-right: 16px;
  color: #fff;
}
footer .container .ft_logo ul li:last-child {
  color: #AAB0B8;
  padding-left: 16px;
  position: relative;
}
footer .container .ft_logo ul li:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #79818C;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
footer .container p {
  color: #fff;
  font-weight: 400;
  font-size: 0.875em;
  text-transform: uppercase;
}

.top_btn {
  position: fixed;
  bottom: 130px;
  right: 150px;
  display: none;
  z-index: 999;
}

.flex {
  display: flex;
  align-items: center;
}

.georgia33 {
  background: url(../images/georgia33.svg) no-repeat center;
  background-size: 100%;
}

.sns_state {
  background: url(../images/sns_stateBg.png) no-repeat;
  background-size: cover;
  max-height: 644px;
}

.container .tit_wrap {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .tit_wrap h3.tit {
  font-weight: 700;
  font-size: 2.5em;
  font-family: "jalnan";
  color: #fff;
}
.container .tit_wrap .list_tab ul {
  display: flex;
  background: #1A3857;
  border-radius: 8px;
  padding: 4px;
}
.container .tit_wrap .list_tab ul li {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.container .tit_wrap .list_tab ul li.on {
  background: #06050D;
}
.container .tit_wrap .list_tab ul li a {
  width: 100%;
  height: 100%;
}
.container .tit_wrap .list_tab ul li:first-child a {
  background: url(../images/map_btn_off.png) no-repeat;
  background-size: 100%;
}
.container .tit_wrap .list_tab ul li:first-child.on a {
  background: url(../images/map_btn_on.png) no-repeat;
  background-size: 100%;
}
.container .tit_wrap .list_tab ul li:last-child a {
  background: url(../images/list_btn_off.png) no-repeat;
  background-size: 100%;
}
.container .tit_wrap .list_tab ul li:last-child.on a {
  background: url(../images/list_btn_on.png) no-repeat;
  background-size: 100%;
}
.container .list_wrap .embassy_list {
  padding-top: 56px;
  padding-bottom: 120px;
  display: none;
}
.container .list_wrap .embassy_list:last-child {
  display: block;
}
.container .list_wrap .embassy_list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
.container .list_wrap .embassy_list ul li {
  border: 2px solid #fff;
  height: 152px;
  border-radius: 8px;
}
.container .list_wrap .embassy_list ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .list_wrap .embassy_list ul li a span {
  font-weight: 500;
  font-size: 1.375em;
  color: #fff;
  text-align: center;
}
.container .list_wrap .embassy_list ul li:hover, .container .list_wrap .embassy_list ul li.on {
  background: #BCD4F0;
  border: 2px solid transparent;
}
.container .list_wrap .embassy_list ul li:hover a span, .container .list_wrap .embassy_list ul li.on a span {
  font-weight: 600;
  color: #000;
}
.container .list_wrap .embassy_map {
  padding-top: 0;
  padding-bottom: 73px;
}
.container .list_wrap .embassy_map .map {
  background: url(../images/sns_map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  position: relative;
  padding-bottom: 36%;
  transition: 0.3s;
}
.container .list_wrap .embassy_map .map .marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .list_wrap .embassy_map .map .marker button {
  width: 36px;
  height: 50px;
  background: url(../images/map_marker.png);
  position: relative;
}
.container .list_wrap .embassy_map .map .marker button:before {
  content: "";
  font-weight: 500;
  font-size: 0.875em;
  background: #fff;
  padding: 5px 12px;
  border-radius: 999px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  display: none;
  z-index: 1;
}
.container .list_wrap .embassy_map .map .marker:hover button {
  background: url(../images/marker_on.png);
}
.container .list_wrap .embassy_map .map .marker.txt_2 button:before {
  top: -100%;
}
.container .list_wrap .embassy_map .map .marker.middle_east_north_africa_marker {
  top: 44%;
  left: 46%;
}
.container .list_wrap .embassy_map .map .marker.middle_east_north_africa_marker button:before {
  content: "중동 북아프리카";
  display: none;
}
.container .list_wrap .embassy_map .map .marker.middle_east_north_africa_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.southwest_asia_pacific_marker {
  top: 37%;
  left: 63%;
}
.container .list_wrap .embassy_map .map .marker.southwest_asia_pacific_marker button:before {
  content: "동남아시아 \a서남아시아태평양";
  white-space: pre;
  display: none;
}
.container .list_wrap .embassy_map .map .marker.southwest_asia_pacific_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.north_east_aisa_marker {
  top: 34%;
  left: 68%;
}
.container .list_wrap .embassy_map .map .marker.north_east_aisa_marker button:before {
  content: "동북아시아";
  display: none;
}
.container .list_wrap .embassy_map .map .marker.north_east_aisa_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.sub_saharan_africa_marker {
  top: 65%;
  left: 52%;
}
.container .list_wrap .embassy_map .map .marker.sub_saharan_africa_marker button:before {
  content: "사하라 \a이남 아프리카";
  white-space: pre;
  display: none;
}
.container .list_wrap .embassy_map .map .marker.sub_saharan_africa_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.northamerica_marker {
  top: 22%;
  left: 24%;
}
.container .list_wrap .embassy_map .map .marker.northamerica_marker button:before {
  content: "북미";
  display: none;
  width: 80px;
}
.container .list_wrap .embassy_map .map .marker.northamerica_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.russia_central_asia_marker {
  top: 16%;
  left: 67%;
}
.container .list_wrap .embassy_map .map .marker.russia_central_asia_marker button:before {
  content: "러시아 중앙아시아";
  display: none;
}
.container .list_wrap .embassy_map .map .marker.russia_central_asia_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.europe_marker {
  top: 22%;
  left: 52%;
}
.container .list_wrap .embassy_map .map .marker.europe_marker button:before {
  content: "유럽";
  display: none;
  width: 80px;
}
.container .list_wrap .embassy_map .map .marker.europe_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.central_south_america_marker {
  top: 58%;
  left: 32%;
}
.container .list_wrap .embassy_map .map .marker.central_south_america_marker button:before {
  content: "중남미";
  display: none;
  width: 80px;
}
.container .list_wrap .embassy_map .map .marker.central_south_america_marker:hover button:before {
  display: block;
}

.popular_contents {
  background: #F2F4F5;
}
.popular_contents .container {
  position: relative;
  padding-bottom: 20%;
  min-height: 510px;
}
.popular_contents .container .tit_wrap {
  display: flex;
  justify-content: flex-start;
  gap: 3.5em;
  padding-bottom: 64px;
}
.popular_contents .container .tit_wrap h3 {
  color: #C6CBD0;
  position: relative;
}
.popular_contents .container .tit_wrap h3.on {
  color: #000000;
}
.popular_contents .container .tit_wrap h3.on:before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background: #822899;
  top: -16px;
  left: 0;
}
.popular_contents .container .slide_tab {
  position: relative;
}
.popular_contents .container .slide_tab .content_wrap {
  position: absolute;
  width: 100%;
}
.popular_contents .container .slide_tab .content_wrap:last-child {
  display: none;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap .hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap .hover span {
  font-size: 1.375em;
  font-weight: 500;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap .hover img {
  margin-left: 8px;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap > img {
  width: 100%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap:hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap:hover .hover {
  display: block;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide span.office {
  display: block;
  text-align: center;
  font-size: 1.125em;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button {
  position: absolute;
  width: 40px;
  height: 40px;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-next {
  right: -72px;
  width: 40px;
  height: 40px;
  top: 42%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-next:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/next_btn.png) no-repeat 100%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-prev {
  left: -72px;
  width: 40px;
  height: 40px;
  top: 42%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  color: #000;
  background: url(../images/prev_btn.png) no-repeat 100%;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content {
  display: flex;
  gap: 29px;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div {
  flex: 1;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a img {
  width: 100%;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a span.flex {
  position: absolute;
  width: 100%;
  padding: 24px;
  height: 72px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3764705882);
  bottom: 0;
  left: 0;
  z-index: 10;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a span.flex img {
  width: 24px;
  margin-right: 18px;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a .hover {
  display: none;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a:hover .hover {
  display: block;
  position: absolute;
  width: 40px;
  height: 32px;
  right: 24px;
  top: 24px;
  z-index: 20;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content div a:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

.sns_list {
  margin-top: 16px;
}
.sns_list.sns_main {
  margin-top: 0;
}
.sns_list .sns_top {
  border-bottom: 1px solid #eee;
}
.sns_list .sns_top .container .tit_wrap {
  padding: 96px 0 56px;
}
.sns_list .sns_top .container .tit_wrap h3.tit {
  color: #000;
}
.sns_list .sns_top .container .sns_tab {
  padding-bottom: 8px;
}
.sns_list .sns_top .container .sns_tab ul {
  display: flex;
  gap: 24px;
}
.sns_list .sns_top .container .sns_tab ul li button.all_btn {
  width: 40px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -103px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.facebook_btn {
  width: 110px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -167px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.twt_btn {
  width: 90px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -301px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.insta_btn {
  width: 115px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -415px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.youtube_btn {
  width: 105px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -554px -108px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.all_btn {
  width: 40px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -103px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.facebook_btn {
  width: 110px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -167px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.twt_btn {
  width: 90px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -301px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.insta_btn {
  width: 115px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -415px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.youtube_btn {
  width: 105px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -554px -38px;
}

.sns_con .container {
  position: relative;
}

#load-more {
  margin: 80px auto;
  display: block;
  background: none;
  border: 1px solid #C6CBD0;
  padding: 9px 54px;
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

/* ---- isotope ---- */
.isotope {
  margin: 80px 0;
  /* clear fix */
}
.isotope:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  width: 23%;
  color: #262524;
  margin-bottom: 48px;
}
.element-item > span {
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 24px;
}
.element-item > span .flag {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1A3857;
  margin-right: 20px;
}
.element-item > span .flag.sns_amrc {
  background: url(../images/sns_america.png);
}
.element-item > span .flag.sns_chile {
  background: url(../images/sns_chile.png);
}
.element-item > span .flag.sns_china {
  background: url(../images/sns_china.png);
}
.element-item > span .flag.sns_ecd {
  background: url(../images/sns_ecuador.png);
}
.element-item a:hover .img_wrap .hover {
  display: block;
}
.element-item a:hover .img_wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}
.element-item a .img_wrap {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.element-item a .img_wrap img {
  width: 100%;
  display: block;
}
.element-item a .img_wrap .hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 500;
  font-size: 1.375em;
  color: #fff;
}
.element-item a .img_wrap .hover img {
  margin-left: 8px;
  width: 24px;
}
.element-item a .img_wrap.video_wrap .play_time {
  position: absolute;
  right: 16px;
  bottom: 12px;
  background: #000;
  border-radius: 4px;
}
.element-item a .img_wrap.video_wrap .play_time span {
  color: #fff;
  display: block;
  padding: 0 8px;
  font-weight: 500;
  font-size: 0.75em;
  letter-spacing: 0;
}
.element-item a p {
  margin: 16px 0;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.element-item .like_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element-item .like_wrap .icon_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.element-item .like_wrap .icon_wrap .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #822899;
}
.element-item .like_wrap .icon_wrap .icon.fb_ico {
  background: url(../images/facebook_ico.png);
}
.element-item .like_wrap .icon_wrap .icon.insta_ico {
  background: url(../images/insta_ico.png);
}
.element-item .like_wrap .icon_wrap .icon.twt_ico {
  background: url(../images/twt_ico.png);
}
.element-item .like_wrap .icon_wrap .icon.youtube_ico {
  background: url(../images/youtube_ico.png);
}
.element-item .like_wrap .icon_wrap .date {
  font-weight: 400;
  color: #696E76;
}
.element-item .like_wrap .like {
  border: 1px solid #DDE1E4;
  border-radius: 8px;
  padding: 0 12px;
  height: 32px;
  font-weight: 400;
}
.element-item .like_wrap .like .heart {
  color: rgba(245, 16, 58, 0.95);
  margin-right: 16px;
}

.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
}
.modal .modalContents {
  width: 500px;
  height: 300px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modalContents .close {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1420px) {
  .content_wrap .swiper {
    width: 87%;
  }
  .popular_contents .container .slide_tab .content_wrap .swiper-button-next {
    right: 0;
  }
  .popular_contents .container .slide_tab .content_wrap .swiper-button-prev {
    left: 0;
  }
  .top_btn {
    right: 2%;
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  header .container {
    padding: 20px;
  }
  .container {
    padding: 0 20px;
  }
  .element-item {
    width: 22%;
  }
}
@media screen and (max-width: 1080px) {
  .element-item {
    width: 30%;
  }
}
@media screen and (max-width: 720px) {
  .element-item {
    width: 47%;
  }
}
.sub_sns_state {
  background: url(../images/sub_sns_state_bg.png);
  background-position-y: 25%;
  background-size: 100%;
  position: relative;
}
.sub_sns_state .container .tit_wrap {
  padding: 48px 0 56px;
}
.sub_sns_state .container .select_wrap {
  padding-bottom: 40px;
}
.sub_sns_state .container .select_wrap > ul {
  display: flex;
  justify-content: space-between;
}
.sub_sns_state .container .select_wrap > ul > li {
  flex: 0 1 48%;
  font-weight: 500;
  color: #fff;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select {
  background: url(../images/down_btn.png) no-repeat 100% center;
  position: relative;
  font-weight: 600;
  font-size: 1.25em;
  color: #fff;
  padding: 8px 4px;
  border-bottom: 1.5px solid #fff;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select span .select_flag {
  width: 33px;
  height: 22px;
}
.sub_sns_state .option_wrap {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 10;
  padding: 16px;
}
.sub_sns_state .option_wrap ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px 24px;
}
.sub_sns_state .option_wrap ul li {
  border: 1.5px solid #EAEAEA;
  border-radius: 4px;
  height: 56px;
}
.sub_sns_state .option_wrap ul li a {
  color: #484B51;
  width: 100%;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
}
.wrapper .dim {
  position: absolute;
  top: 380px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}/*# sourceMappingURL=default.css.map */