@charset "UTF-8";
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Pretendard-Thin.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Thin.eot") format("embedded-opentype"), url("../fonts/Pretendard-Thin.woff2") format("font-woff2"), url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.ttf") format("truetype"), url("../fonts/Pretendard-Thin.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraLight.woff2") format("font-woff2"), url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.ttf") format("truetype"), url("../fonts/Pretendard-ExtraLight.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Light.eot") format("embedded-opentype"), url("../fonts/Pretendard-Light.woff2") format("font-woff2"), url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.ttf") format("truetype"), url("../fonts/Pretendard-Light.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Regular.eot") format("embedded-opentype"), url("../fonts/Pretendard-Regular.woff2") format("font-woff2"), url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.ttf") format("truetype"), url("../fonts/Pretendard-Regular.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Medium.eot") format("embedded-opentype"), url("../fonts/Pretendard-Medium.woff2") format("font-woff2"), url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.ttf") format("truetype"), url("../fonts/Pretendard-Medium.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-SemiBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-SemiBold.woff2") format("font-woff2"), url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.ttf") format("truetype"), url("../fonts/Pretendard-SemiBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Bold.eot") format("embedded-opentype"), url("../fonts/Pretendard-Bold.woff2") format("font-woff2"), url("../fonts/Pretendard-Bold.woff") format("woff"), url("../fonts/Pretendard-Bold.ttf") format("truetype"), url("../fonts/Pretendard-Bold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraBold.woff2") format("font-woff2"), url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.ttf") format("truetype"), url("../fonts/Pretendard-ExtraBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Black.eot") format("embedded-opentype"), url("../fonts/Pretendard-Black.woff2") format("font-woff2"), url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.ttf") format("truetype"), url("../fonts/Pretendard-Black.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "jalnan";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Jalnan.eot");
  src: local(""), url("../fonts/Jalnan.eot") format("embedded-opentype"), url("../fonts/Jalnan.woff2") format("font-woff2"), url("../fonts/Jalnan.woff") format("woff"), url("../fonts/Jalnan.ttf") format("truetype"), url("../fonts/Jalnan.svg") format("svg");
}
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%; /*  height: 100%; */
}

body {
  font-size: 16px;
  line-height: 150%;
  font-family: "pretendard", "Noto Sans", "sans-serif";
  letter-spacing: -0.03em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
}

ul, ol, li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}

caption, legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input, select, textarea {
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  height: 104px;
}
header .container {
  height: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo_sch {
  display: flex;
  align-items: center;
  height: 100%;
  width: 83%;
}
header .container .logo_sch .logo {
  width: 88px;
  height: 100%;
  margin-right: 48px;
}
header .container .logo_sch .logo a {
  width: 100%;
  height: 100%;
}
header .container .logo_sch .search {
  width: calc(100% - 138px);
}
header .container .logo_sch .search .search_bar {
  height: 48px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 48px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #005EAC 0%, #EB1C23 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
header .container .logo_sch .search .search_bar button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: url(../images/search_ico.png) no-repeat center;
  background-size: 100%;
  margin-left: 28px;
  cursor: pointer;
}
header .container .logo_sch .search .search_bar input {
  width: 90%;
  height: 48px;
  outline: 0;
  border: 1px solid transparent;
  background: transparent;
  padding: 0 14px;
  font-weight: 400;
}
header .container .info {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .container .info a {
  font-weight: 500;
  color: #79818C;
}
header .container .info a.on, header .container .info a:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: #000;
}
header .container .info.sch_info a {
  color: #C6CBD0;
}
header.sch_hd {
  background: #212E40;
}

footer {
  background: #181818;
}
footer .container {
  height: 100%;
  justify-content: space-between;
  padding: 42px 0;
}
footer .container .ft_logo img {
  opacity: 0.6;
}
footer .container .ft_logo ul {
  margin-left: 52px;
}
footer .container .ft_logo ul li {
  font-weight: 300;
  font-size: 0.875em;
  padding-right: 16px;
  color: #fff;
}
footer .container .ft_logo ul li:last-child {
  color: #AAB0B8;
  padding-left: 16px;
  position: relative;
}
footer .container .ft_logo ul li:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #79818C;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
footer .container p {
  color: #fff;
  font-weight: 400;
  font-size: 0.875em;
  text-transform: uppercase;
}

.top_btn {
  position: fixed;
  bottom: 130px;
  right: 150px;
  display: none;
  z-index: 999;
}

.flex {
  display: flex;
  align-items: center;
}

.flag_2 {
  border-radius: 2px;
  overflow: hidden;
  background: #79818C;
}
.flag_2.flag24 {
  width: 24px;
  height: 18px;
}
.flag_2.flag32 {
  width: 32px;
  height: 24px;
}
.flag_2.jp {
  background: url(../images/NAA/jp.png) no-repeat center;
  background-size: 100%;
}
.flag_2.cn {
  background: url(../images/NAA/cn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.hk {
  background: url(../images/NAA/hk.png) no-repeat center;
  background-size: 100%;
}
.flag_2.mn {
  background: url(../images/NAA/mn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tw {
  background: url(../images/NAA/tw.png) no-repeat center;
  background-size: 100%;
}
.flag_2.aa {
  background: url(../images/SAA/aa.png) no-repeat center;
  background-size: 100%;
}
.flag_2.af {
  background: url(../images/SAA/af.png) no-repeat center;
  background-size: 100%;
}
.flag_2.au {
  background: url(../images/SAA/au.png) no-repeat center;
  background-size: 100%;
}
.flag_2.bd {
  background: url(../images/SAA/bd.png) no-repeat center;
  background-size: 100%;
}
.flag_2.bn {
  background: url(../images/SAA/bn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.fj {
  background: url(../images/SAA/fj.png) no-repeat center;
  background-size: 100%;
}
.flag_2.id {
  background: url(../images/SAA/id.png) no-repeat center;
  background-size: 100%;
}
.flag_2.in {
  background: url(../images/SAA/in.png) no-repeat center;
  background-size: 100%;
}
.flag_2.kh {
  background: url(../images/SAA/kh.png) no-repeat center;
  background-size: 100%;
}
.flag_2.la {
  background: url(../images/SAA/la.png) no-repeat center;
  background-size: 100%;
}
.flag_2.lk {
  background: url(../images/SAA/lk.png) no-repeat center;
  background-size: 100%;
}
.flag_2.mm {
  background: url(../images/SAA/mm.png) no-repeat center;
  background-size: 100%;
}
.flag_2.my {
  background: url(../images/SAA/my.png) no-repeat center;
  background-size: 100%;
}
.flag_2.np {
  background: url(../images/SAA/np.png) no-repeat center;
  background-size: 100%;
}
.flag_2.nz {
  background: url(../images/SAA/nz.png) no-repeat center;
  background-size: 100%;
}
.flag_2.pg {
  background: url(../images/SAA/pg.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ph {
  background: url(../images/SAA/ph.png) no-repeat center;
  background-size: 100%;
}
.flag_2.pk {
  background: url(../images/SAA/pk.png) no-repeat center;
  background-size: 100%;
}
.flag_2.sg {
  background: url(../images/SAA/sg.png) no-repeat center;
  background-size: 100%;
}
.flag_2.th {
  background: url(../images/SAA/th.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tl {
  background: url(../images/SAA/tl.png) no-repeat center;
  background-size: 100%;
}
.flag_2.vn {
  background: url(../images/SAA/vn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ca {
  background: url(../images/NA/ca.png) no-repeat center;
  background-size: 100%;
}
.flag_2.un {
  background: url(../images/NA/un.png) no-repeat center;
  background-size: 100%;
}
.flag_2.us {
  background: url(../images/NA/us.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ar {
  background: url(../images/CSA/ar.png) no-repeat center;
  background-size: 100%;
}
.flag_2.bo {
  background: url(../images/CSA/bo.png) no-repeat center;
  background-size: 100%;
}
.flag_2.br {
  background: url(../images/CSA/br.png) no-repeat center;
  background-size: 100%;
}
.flag_2.cl {
  background: url(../images/CSA/cl.png) no-repeat center;
  background-size: 100%;
}
.flag_2.co {
  background: url(../images/CSA/co.png) no-repeat center;
  background-size: 100%;
}
.flag_2.cr {
  background: url(../images/CSA/cr.png) no-repeat center;
  background-size: 100%;
}
.flag_2.do {
  background: url(../images/CSA/do.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ec {
  background: url(../images/CSA/ec.png) no-repeat center;
  background-size: 100%;
}
.flag_2.gt {
  background: url(../images/CSA/gt.png) no-repeat center;
  background-size: 100%;
}
.flag_2.hn {
  background: url(../images/CSA/hn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.jm {
  background: url(../images/CSA/jm.png) no-repeat center;
  background-size: 100%;
}
.flag_2.mx {
  background: url(../images/CSA/mx.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ni {
  background: url(../images/CSA/ni.png) no-repeat center;
  background-size: 100%;
}
.flag_2.pa {
  background: url(../images/CSA/pa.png) no-repeat center;
  background-size: 100%;
}
.flag_2.pe {
  background: url(../images/CSA/pe.png) no-repeat center;
  background-size: 100%;
}
.flag_2.py {
  background: url(../images/CSA/py.png) no-repeat center;
  background-size: 100%;
}
.flag_2.sv {
  background: url(../images/CSA/sv.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tt {
  background: url(../images/CSA/tt.png) no-repeat center;
  background-size: 100%;
}
.flag_2.uy {
  background: url(../images/CSA/uy.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ve {
  background: url(../images/CSA/ve.png) no-repeat center;
  background-size: 100%;
}
.flag_2.at {
  background: url(../images/EU/at.png) no-repeat center;
  background-size: 100%;
}
.flag_2.az {
  background: url(../images/EU/az.png) no-repeat center;
  background-size: 100%;
}
.flag_2.be {
  background: url(../images/EU/be.png) no-repeat center;
  background-size: 100%;
}
.flag_2.bg {
  background: url(../images/EU/bg.png) no-repeat center;
  background-size: 100%;
}
.flag_2.by {
  background: url(../images/EU/by.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ch {
  background: url(../images/EU/ch.png) no-repeat center;
  background-size: 100%;
}
.flag_2.cz {
  background: url(../images/EU/cz.png) no-repeat center;
  background-size: 100%;
}
.flag_2.de {
  background: url(../images/EU/de.png) no-repeat center;
  background-size: 100%;
}
.flag_2.dk {
  background: url(../images/EU/dk.png) no-repeat center;
  background-size: 100%;
}
.flag_2.es {
  background: url(../images/EU/es.png) no-repeat center;
  background-size: 100%;
}
.flag_2.fi {
  background: url(../images/EU/fi.png) no-repeat center;
  background-size: 100%;
}
.flag_2.fr {
  background: url(../images/EU/fr.png) no-repeat center;
  background-size: 100%;
}
.flag_2.gb {
  background: url(../images/EU/gb.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ge {
  background: url(../images/EU/ge.png) no-repeat center;
  background-size: 100%;
}
.flag_2.gr {
  background: url(../images/EU/gr.png) no-repeat center;
  background-size: 100%;
}
.flag_2.hr {
  background: url(../images/EU/hr.png) no-repeat center;
  background-size: 100%;
}
.flag_2.hu {
  background: url(../images/EU/hu.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ie {
  background: url(../images/EU/ie.png) no-repeat center;
  background-size: 100%;
}
.flag_2.it {
  background: url(../images/EU/it.png) no-repeat center;
  background-size: 100%;
}
.flag_2.lv {
  background: url(../images/EU/lv.png) no-repeat center;
  background-size: 100%;
}
.flag_2.nl {
  background: url(../images/EU/nl.png) no-repeat center;
  background-size: 100%;
}
.flag_2.no {
  background: url(../images/EU/no.png) no-repeat center;
  background-size: 100%;
}
.flag_2.oecd {
  background: url(../images/EU/OECD.png) no-repeat center;
  background-size: 100%;
}
.flag_2.pl {
  background: url(../images/EU/pl.png) no-repeat center;
  background-size: 100%;
}
.flag_2.pt {
  background: url(../images/EU/pt.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ro {
  background: url(../images/EU/ro.png) no-repeat center;
  background-size: 100%;
}
.flag_2.rs {
  background: url(../images/EU/rs.png) no-repeat center;
  background-size: 100%;
}
.flag_2.se {
  background: url(../images/EU/se.png) no-repeat center;
  background-size: 100%;
}
.flag_2.sk {
  background: url(../images/EU/sk.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tr {
  background: url(../images/EU/tr.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ua {
  background: url(../images/EU/ua.png) no-repeat center;
  background-size: 100%;
}
.flag_2.unesco {
  background: url(../images/EU/UNESCO.png) no-repeat center;
  background-size: 100%;
}
.flag_2.va {
  background: url(../images/EU/va.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ao {
  background: url(../images/SSA/ao.png) no-repeat center;
  background-size: 100%;
}
.flag_2.cd {
  background: url(../images/SSA/cd.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ci {
  background: url(../images/SSA/ci.png) no-repeat center;
  background-size: 100%;
}
.flag_2.cm {
  background: url(../images/SSA/cm.png) no-repeat center;
  background-size: 100%;
}
.flag_2.et {
  background: url(../images/SSA/et.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ga {
  background: url(../images/SSA/ao.png) no-repeat center;
  background-size: 100%;
}
.flag_2.gh {
  background: url(../images/SSA/gh.png) no-repeat center;
  background-size: 100%;
}
.flag_2.gq {
  background: url(../images/SSA/gq.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ke {
  background: url(../images/SSA/ke.png) no-repeat center;
  background-size: 100%;
}
.flag_2.mg {
  background: url(../images/SSA/mg.png) no-repeat center;
  background-size: 100%;
}
.flag_2.mz {
  background: url(../images/SSA/mz.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ng {
  background: url(../images/SSA/ng.png) no-repeat center;
  background-size: 100%;
}
.flag_2.rw {
  background: url(../images/SSA/rw.png) no-repeat center;
  background-size: 100%;
}
.flag_2.sd {
  background: url(../images/SSA/sd.png) no-repeat center;
  background-size: 100%;
}
.flag_2.sn {
  background: url(../images/SSA/sn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tz {
  background: url(../images/SSA/tz.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ug {
  background: url(../images/SSA/ug.png) no-repeat center;
  background-size: 100%;
}
.flag_2.za {
  background: url(../images/SSA/za.png) no-repeat center;
  background-size: 100%;
}
.flag_2.zw {
  background: url(../images/SSA/zw.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ae {
  background: url(../images/MENA/ae.png) no-repeat center;
  background-size: 100%;
}
.flag_2.bh {
  background: url(../images/MENA/bh.png) no-repeat center;
  background-size: 100%;
}
.flag_2.dz {
  background: url(../images/MENA/dz.png) no-repeat center;
  background-size: 100%;
}
.flag_2.eg {
  background: url(../images/MENA/eg.png) no-repeat center;
  background-size: 100%;
}
.flag_2.il {
  background: url(../images/MENA/il.png) no-repeat center;
  background-size: 100%;
}
.flag_2.iq {
  background: url(../images/MENA/iq.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ir {
  background: url(../images/MENA/ir.png) no-repeat center;
  background-size: 100%;
}
.flag_2.jo {
  background: url(../images/MENA/jo.png) no-repeat center;
  background-size: 100%;
}
.flag_2.kw {
  background: url(../images/MENA/kw.png) no-repeat center;
  background-size: 100%;
}
.flag_2.lb {
  background: url(../images/MENA/lb.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ly {
  background: url(../images/MENA/ly.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ma {
  background: url(../images/MENA/ma.png) no-repeat center;
  background-size: 100%;
}
.flag_2.om {
  background: url(../images/MENA/om.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ps {
  background: url(../images/MENA/ps.png) no-repeat center;
  background-size: 100%;
}
.flag_2.qa {
  background: url(../images/MENA/qa.png) no-repeat center;
  background-size: 100%;
}
.flag_2.sa {
  background: url(../images/MENA/sa.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tn {
  background: url(../images/MENA/tn.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ye {
  background: url(../images/MENA/ye.png) no-repeat center;
  background-size: 100%;
}
.flag_2.kg {
  background: url(../images/RCA/kg.png) no-repeat center;
  background-size: 100%;
}
.flag_2.kz {
  background: url(../images/RCA/kz.png) no-repeat center;
  background-size: 100%;
}
.flag_2.ru {
  background: url(../images/RCA/ru.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tj {
  background: url(../images/RCA/tj.png) no-repeat center;
  background-size: 100%;
}
.flag_2.tm {
  background: url(../images/RCA/tm.png) no-repeat center;
  background-size: 100%;
}
.flag_2.uz {
  background: url(../images/RCA/uz.png) no-repeat center;
  background-size: 100%;
}

b {
  line-height: 150%;
  display: block;
}

@media screen and (max-width: 1080px) {
  footer .container {
    flex-direction: column;
    padding: 48px 0;
  }
  footer .container .ft_logo {
    flex-direction: column;
  }
  footer .container .ft_logo ul {
    padding: 24px 0;
    margin: 0;
    flex-direction: column;
    gap: 8px;
  }
  footer .container .ft_logo ul li {
    padding: 0;
  }
  footer .container .ft_logo ul li:last-child {
    padding-left: 0;
  }
  footer .container .ft_logo ul li::before {
    display: none;
  }
  footer .container p {
    width: 207px;
    text-align: center;
  }
}
.sns_state {
  background: url(../images/sns_stateBg.png) no-repeat;
  background-size: cover;
  max-height: 644px;
}

.container .tit_wrap {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .tit_wrap h3.tit {
  font-weight: 700;
  font-size: 2.5em;
  font-family: "jalnan";
  color: #fff;
}
.container .tit_wrap .list_tab ul {
  display: flex;
  background: #1A3857;
  border-radius: 8px;
  padding: 4px;
}
.container .tit_wrap .list_tab ul li {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.container .tit_wrap .list_tab ul li.on {
  background: #06050D;
}
.container .tit_wrap .list_tab ul li a {
  width: 100%;
  height: 100%;
}
.container .tit_wrap .list_tab ul li:first-child a {
  background: url(../images/map_btn_off.png) no-repeat;
  background-size: 100%;
}
.container .tit_wrap .list_tab ul li:first-child.on a {
  background: url(../images/map_btn_on.png) no-repeat;
  background-size: 100%;
}
.container .tit_wrap .list_tab ul li:last-child a {
  background: url(../images/list_btn_off.png) no-repeat;
  background-size: 100%;
}
.container .tit_wrap .list_tab ul li:last-child.on a {
  background: url(../images/list_btn_on.png) no-repeat;
  background-size: 100%;
}
.container .list_wrap .embassy_list {
  padding-top: 56px;
  padding-bottom: 120px;
  display: none;
}
.container .list_wrap .embassy_list:last-child {
  display: block;
}
.container .list_wrap .embassy_list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
.container .list_wrap .embassy_list ul li {
  border: 2px solid #fff;
  height: 152px;
  border-radius: 8px;
}
.container .list_wrap .embassy_list ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .list_wrap .embassy_list ul li a span {
  font-weight: 500;
  font-size: 1.375em;
  color: #fff;
  text-align: center;
}
.container .list_wrap .embassy_list ul li:hover, .container .list_wrap .embassy_list ul li.on {
  background: #BCD4F0;
  border: 2px solid transparent;
}
.container .list_wrap .embassy_list ul li:hover a span, .container .list_wrap .embassy_list ul li.on a span {
  font-weight: 600;
  color: #000;
}
.container .list_wrap .embassy_map {
  padding-top: 0;
  padding-bottom: 73px;
}
.container .list_wrap .embassy_map .map {
  background: url(../images/sns_map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  position: relative;
  padding-bottom: 36%;
  transition: 0.3s;
}
.container .list_wrap .embassy_map .map .marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .list_wrap .embassy_map .map .marker button {
  width: 36px;
  height: 50px;
  background: url(../images/map_marker.png);
  position: relative;
}
.container .list_wrap .embassy_map .map .marker button:before {
  content: "";
  font-weight: 500;
  font-size: 0.875em;
  background: #fff;
  padding: 5px 12px;
  border-radius: 999px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  display: none;
  z-index: 1;
}
.container .list_wrap .embassy_map .map .marker:hover button {
  background: url(../images/marker_on.png);
}
.container .list_wrap .embassy_map .map .marker.txt_2 button:before {
  top: -100%;
}
.container .list_wrap .embassy_map .map .marker.middle_east_north_africa_marker {
  top: 44%;
  left: 46%;
}
.container .list_wrap .embassy_map .map .marker.middle_east_north_africa_marker button:before {
  content: "중동 북아프리카";
  display: none;
}
.container .list_wrap .embassy_map .map .marker.middle_east_north_africa_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.southwest_asia_pacific_marker {
  top: 37%;
  left: 63%;
}
.container .list_wrap .embassy_map .map .marker.southwest_asia_pacific_marker button:before {
  content: "동남아시아 \a서남아시아태평양";
  white-space: pre;
  display: none;
}
.container .list_wrap .embassy_map .map .marker.southwest_asia_pacific_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.north_east_aisa_marker {
  top: 34%;
  left: 68%;
}
.container .list_wrap .embassy_map .map .marker.north_east_aisa_marker button:before {
  content: "동북아시아";
  display: none;
}
.container .list_wrap .embassy_map .map .marker.north_east_aisa_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.sub_saharan_africa_marker {
  top: 65%;
  left: 52%;
}
.container .list_wrap .embassy_map .map .marker.sub_saharan_africa_marker button:before {
  content: "사하라 \a이남 아프리카";
  white-space: pre;
  display: none;
}
.container .list_wrap .embassy_map .map .marker.sub_saharan_africa_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.northamerica_marker {
  top: 22%;
  left: 24%;
}
.container .list_wrap .embassy_map .map .marker.northamerica_marker button:before {
  content: "북미";
  display: none;
  width: 80px;
}
.container .list_wrap .embassy_map .map .marker.northamerica_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.russia_central_asia_marker {
  top: 16%;
  left: 67%;
}
.container .list_wrap .embassy_map .map .marker.russia_central_asia_marker button:before {
  content: "러시아 중앙아시아";
  display: none;
}
.container .list_wrap .embassy_map .map .marker.russia_central_asia_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.europe_marker {
  top: 22%;
  left: 52%;
}
.container .list_wrap .embassy_map .map .marker.europe_marker button:before {
  content: "유럽";
  display: none;
  width: 80px;
}
.container .list_wrap .embassy_map .map .marker.europe_marker:hover button:before {
  display: block;
}
.container .list_wrap .embassy_map .map .marker.central_south_america_marker {
  top: 58%;
  left: 32%;
}
.container .list_wrap .embassy_map .map .marker.central_south_america_marker button:before {
  content: "중남미";
  display: none;
  width: 80px;
}
.container .list_wrap .embassy_map .map .marker.central_south_america_marker:hover button:before {
  display: block;
}

.popular_contents {
  background: #F2F4F5;
  max-height: 580px;
}
.popular_contents .container {
  position: relative;
  padding-bottom: 20%;
  min-height: 510px;
}
.popular_contents .container .tit_wrap {
  display: flex;
  justify-content: flex-start;
  gap: 3.5em;
  padding-bottom: 64px;
}
.popular_contents .container .tit_wrap h3 {
  color: #C6CBD0;
  position: relative;
}
.popular_contents .container .tit_wrap h3.on {
  color: #000000;
}
.popular_contents .container .tit_wrap h3.on:before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background: #822899;
  top: -16px;
  left: 0;
}
.popular_contents .container .tit_wrap h3:hover {
  color: #000000;
}
.popular_contents .container .slide_tab {
  position: relative;
}
.popular_contents .container .slide_tab .content_wrap {
  position: absolute;
  width: 100%;
}
.popular_contents .container .slide_tab .content_wrap:last-child {
  display: none;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  max-width: 216px;
  height: auto;
  padding-bottom: 100%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap .hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap .hover span {
  font-size: 1.375em;
  font-weight: 500;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap .hover img {
  margin-left: 8px;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap > img {
  width: 100%;
  position: absolute;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap:hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide .img_wrap:hover .hover {
  display: block;
}
.popular_contents .container .slide_tab .content_wrap .swiper-slide span.office {
  display: block;
  text-align: center;
  font-size: 1.125em;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button {
  position: absolute;
  width: 40px;
  height: 40px;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-next {
  right: -72px;
  width: 40px;
  height: 40px;
  top: 42%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-next:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/next_btn.png) no-repeat 100%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-prev {
  left: -72px;
  width: 40px;
  height: 40px;
  top: 42%;
}
.popular_contents .container .slide_tab .content_wrap .swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  color: #000;
  background: url(../images/prev_btn.png) no-repeat 100%;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content {
  display: grid;
  gap: 29px;
  grid-template-columns: repeat(3, 1fr);
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  padding-bottom: 66.5%;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a img {
  width: 100%;
  position: absolute;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a span.flex {
  position: absolute;
  width: 100%;
  padding: 24px;
  height: 72px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3764705882);
  bottom: 0;
  left: 0;
  z-index: 10;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a span.flex .flag24 {
  margin-right: 12px;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a .hover {
  display: none;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a:hover .hover {
  display: block;
  position: absolute;
  width: 40px;
  height: 32px;
  right: 24px;
  top: 24px;
  z-index: 20;
}
.popular_contents .container .slide_tab .content_wrap .monthly_content > div a:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

.sns_list {
  margin-top: 16px;
}
.sns_list.sns_main {
  margin-top: 0;
}
.sns_list .sns_top {
  border-bottom: 1px solid #eee;
}
.sns_list .sns_top .container .tit_wrap {
  padding: 96px 0 56px;
}
.sns_list .sns_top .container .tit_wrap h3.tit {
  color: #000;
}
.sns_list .sns_top .container .sns_tab {
  padding-bottom: 8px;
}
.sns_list .sns_top .container .sns_tab ul {
  display: flex;
  gap: 24px;
}
.sns_list .sns_top .container .sns_tab ul li button.all_btn {
  width: 40px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -103px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.facebook_btn {
  width: 110px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -167px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.twt_btn {
  width: 90px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -301px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.insta_btn {
  width: 115px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -415px -108px;
}
.sns_list .sns_top .container .sns_tab ul li button.youtube_btn {
  width: 105px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -554px -108px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.all_btn, .sns_list .sns_top .container .sns_tab ul li:hover button.all_btn {
  width: 40px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -103px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.facebook_btn, .sns_list .sns_top .container .sns_tab ul li:hover button.facebook_btn {
  width: 110px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -167px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.twt_btn, .sns_list .sns_top .container .sns_tab ul li:hover button.twt_btn {
  width: 90px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -301px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.insta_btn, .sns_list .sns_top .container .sns_tab ul li:hover button.insta_btn {
  width: 115px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -415px -38px;
}
.sns_list .sns_top .container .sns_tab ul li.on button.youtube_btn, .sns_list .sns_top .container .sns_tab ul li:hover button.youtube_btn {
  width: 105px;
  height: 40px;
  background: url(../images/sns_icon.png) no-repeat;
  background-position: -554px -38px;
}

.sns_con .container {
  position: relative;
}

#load-more {
  margin: 80px auto;
  display: block;
  background: none;
  border: 1px solid #C6CBD0;
  padding: 9px 54px;
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

/* ---- isotope ---- */
.isotope {
  margin: 80px 0;
  /* clear fix */
}
.isotope:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  width: 23%;
  color: #262524;
  margin-bottom: 48px;
}
.element-item > span {
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 24px;
}
.element-item > span .flag {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1A3857;
  margin-right: 20px;
}
.element-item > span .flag.sns_amrc {
  background: url(../images/sns_america.png);
}
.element-item > span .flag.sns_chile {
  background: url(../images/sns_chile.png);
}
.element-item > span .flag.sns_china {
  background: url(../images/sns_china.png);
}
.element-item > span .flag.sns_ecd {
  background: url(../images/sns_ecuador.png);
}
.element-item a:hover .img_wrap .hover {
  display: block;
}
.element-item a:hover .img_wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}
.element-item a .img_wrap {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.element-item a .img_wrap img {
  width: 100%;
  display: block;
}
.element-item a .img_wrap .hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 500;
  font-size: 1.375em;
  color: #fff;
}
.element-item a .img_wrap .hover img {
  margin-left: 8px;
  width: 24px;
}
.element-item a .img_wrap.video_wrap .play_time {
  position: absolute;
  right: 16px;
  bottom: 12px;
  background: #000;
  border-radius: 4px;
}
.element-item a .img_wrap.video_wrap .play_time span {
  color: #fff;
  display: block;
  padding: 0 8px;
  font-weight: 500;
  font-size: 0.75em;
  letter-spacing: 0;
}
.element-item a p {
  margin: 16px 0;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.element-item .like_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element-item .like_wrap .icon_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.element-item .like_wrap .icon_wrap .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #822899;
}
.element-item .like_wrap .icon_wrap .icon.fb_ico {
  background: url(../images/facebook_ico.png);
}
.element-item .like_wrap .icon_wrap .icon.insta_ico {
  background: url(../images/insta_ico.png);
}
.element-item .like_wrap .icon_wrap .icon.twt_ico {
  background: url(../images/twt_ico.png);
}
.element-item .like_wrap .icon_wrap .icon.youtube_ico {
  background: url(../images/youtube_ico.png);
}
.element-item .like_wrap .icon_wrap .date {
  font-weight: 400;
  color: #696E76;
}
.element-item .like_wrap .like {
  border: 1px solid #DDE1E4;
  border-radius: 8px;
  padding: 0 12px;
  height: 32px;
  font-weight: 400;
}
.element-item .like_wrap .like .heart {
  color: rgba(245, 16, 58, 0.95);
  margin-right: 16px;
}

.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
}
.modal .modalContents {
  width: 500px;
  height: 300px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modalContents .close {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1420px) {
  .content_wrap .swiper {
    width: 87%;
  }
  .popular_contents .container .slide_tab .content_wrap .swiper-button-next {
    right: 0;
  }
  .popular_contents .container .slide_tab .content_wrap .swiper-button-prev {
    left: 0;
  }
  .top_btn {
    right: 2%;
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  header .container {
    padding: 20px;
  }
  .container {
    padding: 0 20px;
  }
  .element-item {
    width: 22%;
  }
}
@media screen and (max-width: 1080px) {
  .element-item {
    width: 30%;
  }
}
@media screen and (max-width: 720px) {
  .element-item {
    width: 47%;
  }
}
.sub_sns_state {
  background: url(../images/sub_sns_state_bg.png);
  background-position-y: 25%;
  background-size: 100%;
  position: relative;
}
.sub_sns_state .container .tit_wrap {
  padding: 48px 0 56px;
}
.sub_sns_state .container .select_wrap {
  padding-bottom: 40px;
}
.sub_sns_state .container .select_wrap > ul {
  display: flex;
  justify-content: space-between;
}
.sub_sns_state .container .select_wrap > ul > li {
  flex: 0 1 48%;
  font-weight: 500;
  color: #DBDBDB;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select {
  position: relative;
  font-weight: 600;
  font-size: 1.25em;
  color: #fff;
  padding: 8px 4px;
  border-bottom: 1.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select button {
  background: url(../images/down_btn.png);
  width: 24px;
  height: 24px;
}
.sub_sns_state .container .select_wrap > ul.select_box li.select button.up_btn {
  background: url(../images/up_btn.png);
}
.sub_sns_state .option_wrap {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 20;
  padding: 16px;
  display: none;
}
.sub_sns_state .option_wrap ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 14px;
}
.sub_sns_state .option_wrap ul li {
  border: 1.5px solid #EAEAEA;
  border-radius: 4px;
  height: 56px;
}
.sub_sns_state .option_wrap ul li a {
  color: #484B51;
  width: 100%;
  font-weight: 400;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.sub_sns_state .option_wrap ul li a.fs_09 {
  font-size: 0.9em;
}
.sub_sns_state .option_wrap ul li:hover, .sub_sns_state .option_wrap ul li.on {
  border: 1.5px solid #000;
}
.sub_sns_state .option_wrap ul li:hover a, .sub_sns_state .option_wrap ul li.on a {
  font-weight: 500;
  color: #26282C;
}

.wrapper {
  position: relative;
}
.wrapper .dim {
  position: absolute;
  top: 380px;
  left: 0;
  width: 100%;
  height: calc(100% - 380px);
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 19;
}
.wrapper .dim.on {
  display: block;
}

.office_info {
  background: url(../images/office_info.png) no-repeat;
  background-size: cover;
}

.ofiice_info_con {
  padding: 5.5% 0 4.6%;
  position: relative;
}
.ofiice_info_con .container {
  display: flex;
  align-items: center;
}
.ofiice_info_con .slide_wrap {
  width: 50%;
  padding: 4.7% 0 6%;
  position: relative;
}
.ofiice_info_con .slide_wrap:after {
  content: "";
  position: absolute;
  width: 10000px;
  height: 100%;
  left: 50%;
  top: 0;
  background: #212E40;
}
.ofiice_info_con .slide_wrap .office_slide {
  width: 100%;
}
.ofiice_info_con .slide_wrap .office_slide .img_wrap {
  border-radius: 4px;
  overflow: hidden;
}
.ofiice_info_con .slide_wrap .slide_btn {
  position: absolute;
  width: 160px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  z-index: 18;
  bottom: 3%;
}
.ofiice_info_con .slide_wrap .slide_btn .swiper-button-next {
  width: 24px;
  height: 24px;
}
.ofiice_info_con .slide_wrap .slide_btn .swiper-button-next:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/office_next_btn.png);
}
.ofiice_info_con .slide_wrap .slide_btn .swiper-button-prev {
  width: 24px;
  height: 24px;
}
.ofiice_info_con .slide_wrap .slide_btn .swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/office_prev_btn.png);
}
.ofiice_info_con .txt_wrap {
  margin: 5.4% 0px 6% 2.7%;
  width: 50%;
  position: relative;
  color: #868B95;
}
.ofiice_info_con .txt_wrap .office_info_txt {
  padding-right: 10%;
  max-height: 350px;
  height: 17vw;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.ofiice_info_con .txt_wrap .office_info_txt::-webkit-scrollbar {
  width: 4px;
}
.ofiice_info_con .txt_wrap .office_info_txt::-webkit-scrollbar-track {
  background: rgba(219, 219, 219, 0.1);
}
.ofiice_info_con .txt_wrap .office_info_txt::-webkit-scrollbar-thumb {
  background: rgba(219, 219, 219, 0.5);
  border-radius: 16px;
  overflow: hidden;
}
.ofiice_info_con .txt_wrap .office_info_txt::-webkit-scrollbar-thumb:hover {
  background: rgb(219, 219, 219);
}
.ofiice_info_con .txt_wrap .office_name {
  display: block;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 28px;
  color: #fff;
}
.ofiice_info_con .txt_wrap .address,
.ofiice_info_con .txt_wrap .po_box,
.ofiice_info_con .txt_wrap .tell {
  padding-bottom: 16px;
}
.ofiice_info_con .txt_wrap .address span,
.ofiice_info_con .txt_wrap .po_box span,
.ofiice_info_con .txt_wrap .tell span {
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 8px;
}
.ofiice_info_con .txt_wrap .address p,
.ofiice_info_con .txt_wrap .po_box p,
.ofiice_info_con .txt_wrap .tell p {
  font-weight: 400;
  font-size: 1.125em;
  color: #868B95;
  word-wrap: break-word;
}
.ofiice_info_con .txt_wrap .tell {
  padding-bottom: 0;
}

.sch_wrap {
  background: linear-gradient(to bottom, #212E40 50%, #fff 50%);
}
.sch_wrap .container .tit_wrap {
  display: block;
  padding: 40px 0;
}
.sch_wrap .container .tit_wrap .tit {
  text-align: center;
}
.sch_wrap .container .input_wrap {
  background: #F7F7F8;
  border-radius: 4px;
  padding: 34px 48px 40px;
}
.sch_wrap .container .input_wrap > ul > li {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 24px;
}
.sch_wrap .container .input_wrap > ul > li .search_bar {
  width: 80%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
}
.sch_wrap .container .input_wrap > ul > li .search_bar input[type=text] {
  background: none;
  outline: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 1.5em;
  color: #484B51;
}
.sch_wrap .container .input_wrap > ul > li .search_bar button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: url(../images/search_ico.png) no-repeat center;
  background-size: 100%;
  margin-left: 28px;
  cursor: pointer;
}
.sch_wrap .container .input_wrap > ul > li .chck {
  color: #484B51;
  font-weight: 400;
  font-size: 1em;
}
.sch_wrap .container .input_wrap > ul > li input[type=checkbox] {
  margin: 0 8px 0 32px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../images/mf_chk_off.png);
  background-size: 100%;
}
.sch_wrap .container .input_wrap > ul > li input[type=checkbox]:checked {
  background: url(../images/mf_chk_on.png);
  background-size: 100%;
}
.sch_wrap .container .input_wrap > ul > li:last-child {
  padding-bottom: 0;
}
.sch_wrap .container .input_wrap > ul > li > label,
.sch_wrap .container .input_wrap > ul > li > span {
  min-width: 83px;
  font-weight: 500;
  font-size: 1.125em;
  margin-right: 40px;
}
.sch_wrap .container .input_wrap > ul > li select {
  padding: 0 16px;
  max-width: 380px;
  height: 36px;
  font-weight: 400;
  font-size: 1em;
  color: #484B51;
  width: 68%;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}
.sch_wrap .container .input_wrap > ul > li ul {
  display: flex;
  width: calc(100% - 107px);
}
.sch_wrap .container .input_wrap > ul > li ul li {
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.sch_wrap .container .input_wrap > ul > li ul li input {
  padding: 0;
}
.sch_wrap .container .input_wrap > ul > li ul li label {
  margin: 0 8px;
}
.sch_wrap .container .input_wrap > ul > li ul li button {
  padding: 6px 16px;
  color: #484B51;
  border-radius: 999px;
  background: #EBEEF0;
}
.sch_wrap .container .input_wrap > ul > li ul li input[type=radio] {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #DBDBDB;
}
.sch_wrap .container .input_wrap > ul > li ul li input[type=radio]:checked {
  background: #2A5AD3;
}
.sch_wrap .container .input_wrap > ul > li ul li input[type=date] {
  margin-left: 4px;
  width: 151px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid #C6CBD0;
  padding: 6px 16px;
  font-size: 1em;
  color: #484B51;
  position: relative;
  outline: 0;
}
.sch_wrap .container .input_wrap > ul > li ul li input[type=date]::-webkit-clear-button, .sch_wrap .container .input_wrap > ul > li ul li input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.sch_wrap .container .input_wrap > ul > li ul li input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}
.sch_wrap .container .input_wrap > ul > li ul li input[type=date]::after {
  position: absolute;
  top: 50%;
  right: 12px;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/mf_calendar_ico.png) center center/contain;
  transform: translateY(-50%);
  z-index: 0;
}
.sch_wrap .container .input_wrap > ul > li ul li span {
  padding: 0 8px;
}
.sch_wrap .container .input_wrap .btn_wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.sch_wrap .container .input_wrap .btn_wrap button {
  width: 112px;
  height: 44px;
  border-radius: 4px;
}
.sch_wrap .container .input_wrap .btn_wrap button span {
  font-weight: 500;
}
.sch_wrap .container .input_wrap .btn_wrap button.reset_btn {
  background: #fff;
  border: 1px solid #2A5AD3;
}
.sch_wrap .container .input_wrap .btn_wrap button.reset_btn span {
  color: #2A5AD3;
}
.sch_wrap .container .input_wrap .btn_wrap button.inquiry_btn, .sch_wrap .container .input_wrap .btn_wrap button.register_btn {
  background: #2A5AD3;
}
.sch_wrap .container .input_wrap .btn_wrap button.inquiry_btn span, .sch_wrap .container .input_wrap .btn_wrap button.register_btn span {
  color: #fff;
}
.sch_wrap .container .input_wrap .btn_wrap button.cancel_btn {
  background: #fff;
  border: 1px solid #C0C3C8;
}
.sch_wrap .container .input_wrap .btn_wrap button.cancel_btn span {
  color: #484B51;
}

.sch_contents_wrap .sns_con {
  margin-bottom: 80px;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap {
  padding-bottom: 72px;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap p {
  margin: 48px 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  color: #484B51;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap p span {
  color: #2A5AD3;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap ul {
  border: 1px solid #C6CBD0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap ul li {
  margin: 16px 0;
  position: relative;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap ul li a {
  padding: 0 64px;
  font-weight: 400;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap ul li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 24px;
  background: #EBEEF0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap ul li:nth-child(5n):after {
  display: none;
}
.sch_contents_wrap .sns_con .container .sch_continent_wrap ul li.on a {
  font-weight: 500;
  color: #2A5AD3;
}

.resultview .sch_sns_list {
  margin: 24px 0 16px;
}
.resultview .sch_sns_list .element-item {
  margin-bottom: 48px;
}
.resultview .isotope {
  margin: 24px 0 64px;
}
.resultview .isotope .element-item {
  margin-bottom: 48;
}
.resultview p.no_result {
  text-align: center;
  padding: 24px 0 80px;
  font-weight: 500;
}

.rst_ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #C6CBD0;
}
.rst_ctn span {
  font-weight: 500;
}
.rst_ctn a {
  font-weight: 400;
  color: #79818C;
  background: url(../images/arrow_result.png) no-repeat 99% center;
  padding-right: 17px;
}
.rst_ctn select {
  width: 32%;
  height: 36px;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  background: url(../images/slt_down.png) no-repeat 99% center;
  padding: 0 16px;
  font-weight: 400;
  font-size: 1em;
  color: #484B51;
  outline: 0;
}

.sch_word {
  color: #2A5AD3;
}

.rst_ofc {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
  padding-top: 24px;
}
.rst_ofc li {
  border: 1.5px solid #EAEAEA;
  border-radius: 4px;
  height: 56px;
}
.rst_ofc li a {
  color: #484B51;
  width: 100%;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.rst_ofc li a.fs_09 {
  font-size: 0.9em;
}
.rst_ofc li:hover, .rst_ofc li.on {
  border: 1.5px solid #000;
}

.sch_wrap .container .input_wrap > ul > li .search_bar button.sch_search_btn {
  width: 32px;
  height: 32px;
  background: url(../images/sch_search_ico.png) no-repeat;
  margin-right: 10px;
}/*# sourceMappingURL=mf_default.css.map */